.card {
  float: left;
  width: 95%;
  padding: 20px 10px 20px 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #f5f5f5;
  border: unset;
  font-family: "Lato", sans-serif;
}

.title-section {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  color: #011b66;
  float: left;
  width: 100%;
}

.settings-card {
  width: 100%;
  float: left;
  font-family: "Lato", sans-serif;
}

.list-messages-section {
  float: left;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(117, 117, 117, 0.2);
  background-color: #fff;
  min-height: 50px;
  margin-bottom: 20px;
}

.img-error {
  float: left;
  width: 100%;
  min-height: 200px;
  text-align: center;
}

.text-messages {
  float: left;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
}

.more-information:hover {
  cursor: pointer;
}

@media only screen and (min-width: 720px) {
  .title-section {
    font-size: 35px;
  }
}


.card {
  float: left;
  width: 95%;
  padding: 20px 10px 20px 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: #f5f5f5;
  border: unset;
  font-family: "Lato", sans-serif;
}

.title-section {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  color: #011b66;
  float: left;
  width: 100%;
}

.settings-card {
  width: 100%;
  float: left;
  font-family: "Lato", sans-serif;
}

.list-messages-section {
  float: left;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(117, 117, 117, 0.2);
  background-color: #fff;
  min-height: 50px;
  margin-bottom: 20px;
}

.img-error {
  float: left;
  width: 100%;
  min-height: 200px;
  text-align: center;
}

.text-messages {
  float: left;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0px 10px 0px;
}

.filter-contain {
  text-align: center;
  float: left;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(117, 117, 117, 0.2);
  background-color: #fff;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-contain input {
  margin-left: 5px;
  text-align: center;
  width: 150px;
}

.filter-contain p {
  font-size: 18px;
  font-weight: 550;
  color: #011b66;
}

.logo-form {
  padding: 5.5px 7px 5.5px 7px;
  margin-left: -2px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #255190;
  color: #fff;
}

.edit-message-section {
  margin-top: 20px;
  float: left;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(117, 117, 117, 0.2);
  background-color: #fff;
  min-height: 50px;
  margin-bottom: 20px;
}

.title-second-section {
  float: left;
  width: 100%;
  font-size: 15px;
  text-align: center;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 10px;
}

.title-second-section p {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

.submit-section {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.exit-edit {
  margin: 5px;
  background-color: #5f6368;
  color: white;
  width: 120px;
  margin-top: 15px;
}

.save-submit {
  background-color: #255190;
  color: white;
  width: 120px;
  margin-top: 15px;
}

.information-message {
  float: left;
  width: 100%;
  padding: 10px;
}

.information-message h6 {
  text-align: center;
  opacity: 0.7;
}

.information-message input {
  width: 80%;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.information-message textarea {
  width: 80%;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  resize: none;
  height: 150px;
}

@media only screen and (min-width: 720px) {
  .title-section {
    font-size: 35px;
  }
}
