<div class="card" [@fadeInOutTranslate]>
  <div class="title-section">Lista produktów</div>
  <div class="settings-card">
    <div
      [@fadeInOutTranslate]
      *ngIf="!vissibleSectionEdit"
      class="list-product-section"
    >
      <div
        *ngIf="!checkAuthorized && authorizationProducts"
        style="float:left;width:100%;text-align:center;margin-top: 120px;height: 200px;"
      >
        <div
          style="float:left;width:100%;text-align:center;font-size: 20px;font-weight: 400;"
        >
          Trwa autoryzacja
        </div>
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div class="img-error" *ngIf="!authorizationProducts">
        <img
          class="img-fluid"
          height="350"
          width="262"
          src="./assets/images/error.svg"
        />
        <p
          style="float: left;width: 100%;font-weight: 500;font-size: 18px;margin-bottom: 20px;"
        >
          Nie masz uprawnień aby korzystać z tej sekcji strony!
        </p>
      </div>
      <div *ngIf="checkAuthorized" class="list-products">
        <table *ngIf="detailProducts" class="table">
          <thead style="background-color: #255190;color: #fff;">
            <tr>
              <th scope="col">Produkt</th>
              <th scope="col">Numer ref.</th>
              <th scope="col">Opcje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of detailProducts; let i = index">
              <td>{{ product.title }}</td>
              <td>{{ product.refNumberProduct }}</td>
              <td>
                <mat-select class="mat-select" placeholder="Opcje">
                  <mat-option (click)="editProduct(i)">Edytuj</mat-option>
                  <mat-option (click)="deleteProduct(i)">Usuń</mat-option>
                </mat-select>
              </td>
            </tr>
          </tbody>
        </table>
        <p *ngIf="!detailProducts" class="text-category">Brak produktów!</p>
      </div>
    </div>
    <div
      [@fadeInOutTranslate]
      *ngIf="!vissibleSectionEdit && checkAuthorized"
      class="filter-contain"
    >
      <p>Filtruj:</p>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6" style="margin-bottom: 10px;">
            Tytuł:&nbsp;&nbsp;&nbsp;&nbsp;<input
              (ngModelChange)="setFilterTitle($event)"
              [(ngModel)]="valueTitle"
              placeholder="Tytuł produktu"
            /><span class="logo-form"><i class="fas fa-search"></i></span>
          </div>
          <div class="col-12 col-md-6" style="margin-bottom: 10px;">
            Numer:
            <input
              (ngModelChange)="setFilterRefNumber($event)"
              [(ngModel)]="valueRefNumber"
              placeholder="Numer referencyjny"
            /><span class="logo-form"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="vissibleSectionEdit"
      class="edit-product-section"
      [@fadeInOutTranslate]
    >
      <div>
        <div class="title-second-section">
          <p>Edycja produktu: {{ nameEditProducts }}</p>
        </div>
        <div class="underline"></div>
        <div class="form-contain">
          <mat-form-field
            style="text-align:center;position: relative;"
            class="second-form-input"
          >
            <input
              style="text-align:center;"
              matInput
              placeholder="Cena"
              type="number"
              [(ngModel)]="price"
            />
          </mat-form-field>
        </div>
        <div class="form-contain">
          <mat-form-field
            style="text-align:center;position: relative;"
            class="second-form-input"
          >
            <div class="form-help">
              <i
                class="fas fa-info-circle tooltip-info"
                matTooltip="Podaj wartość procentową obniżenia, względem głównej ceny. *symbol procenta nie jest potrzebny i nie jest dozwolony!"
              ></i>
            </div>
            <input
              style="text-align:center;"
              matInput
              placeholder="Promocja"
              type="number"
              [(ngModel)]="promotionPrice"
            />
          </mat-form-field>
        </div>
        <div class="form-contain">
          <mat-form-field
            style="text-align:center;position: relative;"
            class="second-form-input"
          >
            <div class="form-help">
              <i
                class="fas fa-info-circle tooltip-info"
                matTooltip="Tytuł produktu używany jako tag wyszukiwania w wyszukiwarce produktów"
              ></i>
            </div>
            <input
              style="text-align:center;"
              matInput
              placeholder="Tytuł"
              type="text"
              id="title-product"
              [(ngModel)]="titleProduct"
            />
          </mat-form-field>
        </div>
        <div class="form-contain">
          <mat-form-field
            style="text-align:center;position: relative;"
            class="example-full-width"
            class="second-form-input"
          >
            <div class="form-help">
              <i
                class="fas fa-info-circle tooltip-info"
                matTooltip="Główny opis produktu widoczny dla klienta"
              ></i>
            </div>
            <textarea
              matInput
              style="text-align:center;"
              matInput
              placeholder="Opis produktu"
              [(ngModel)]="descriptionProduct"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="title-second-section">
          <p>
            Niezbędne produkty
            <span style="font-size: 14px;font-weight: 400;">*opcjonalnie</span>
          </p>
        </div>
        <div class="underline"></div>
        <p *ngIf="!detailProducts">Brak dostępnych produktów!</p>
        <div class="form-contain">
          <div *ngIf="detailProducts">
            <mat-form-field
              style="text-align:center;position:relative;"
              class="example-full-width second-form-input"
            >
              <div *ngIf="filterDetailProducts" class="products-suggestion">
                <div
                  class="product"
                  id="product-filter"
                  *ngFor="let product of filterDetailProducts"
                  (click)="addNeccesaryProduct(product)"
                >
                  {{ product.id + ": " + product.title }}
                </div>
              </div>
              <input
                matInput
                placeholder="Szukaj Produkt"
                autocomplete="off"
                [(ngModel)]="filterValue"
                (ngModelChange)="setFilterProducts($event)"
              />
            </mat-form-field>
            <div
              *ngIf="necesaryProducts.length > 0"
              style="float:left;width:100%;min-height:0px;"
            >
              <p style="font-weight:600;">Wybrane niezbędne produkty</p>
              <div
                class="list-necesary-product"
                *ngFor="let product of necesaryProducts; let i = index"
              >
                <p>{{ product.id + ": " + product.title }}</p>
                <span (click)="necesaryProducts.splice(i, 1)"
                  ><i class="fas fa-trash-alt"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-section">
        <button mat-button class="exit-edit" (click)="exitEditProduct()">
          Wróć
        </button>
        <button mat-button class="save-submit" (click)="saveEdit()">
          Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
