<div class="card" [@fadeInOutTranslate]>

  <!-- Title -->
  <div class="title-section">Lista użytkowników</div>
  <div class="settings-card">
    <div class="profile-section">

      <!-- Title Card -->
      <div class="title">Lista użytkowników z uprawnieniami.</div>
      
      <!-- List Header -->
      <div class="list-users" [@fadeInOutTranslate] *ngIf="admins && admins.length > 0">
        <div style="float:left;width:100%;">
          <div class="information-user information">Email</div>
          <div class="information-user information">Opcje</div>
        </div>

        <!-- List Body -->
        <div *ngFor="let admin of admins; let i = index" style="float:left;width:100%;">
          <div class="information-user">{{ admin.email }}</div>
          <div class="information-user">
            <button (click)="checkSureDelete(i)" mat-raised-button
              style="background-color:#c82333;color: white;" class="mat-select">
              Usuń
            </button>
          </div>
        </div>
      </div>

      <!-- Empty List Admins -->
      <div class="img-error" *ngIf="admins && admins.length === 0">
        <img class="img-fluid" height="350" width="262" src="./assets/images/error.svg"/>
        <p style="float: left;width: 100%;font-weight: 500;font-size: 18px;margin-bottom: 20px;">
          Brak innych użytkowników!
        </p>
      </div>

    </div>
  </div>
</div>
