<div
  class="copy-clipboard"
  [@fadeInDown]
  [@fadeOutUp]
  *ngIf="visibleClipboardCopy"
>
  <i class="fas fa-check-circle" style="margin-right:10px;"></i> Skopiowano do
  schowka ({{ textCopy }}) z {{ tabCopy }}
</div>
<div class="card" [@fadeInOutTranslate]>
  <div class="title-section">Przegląd konta</div>
  <div class="profil-information-contain">
    <div class="profil-information">
      <div class="information-text">Liczba logowań</div>
      <div class="information-value">{{ logins ? logins : "0" }}</div>
    </div>
    <div class="profil-information">
      <div class="information-text">Liczba dodanych produktów</div>
      <div class="information-value">{{ products ? products : "0" }}</div>
    </div>
  </div>
  <div class="history-section">
    <div class="history-table">
      <div class="history-information">
        <div class="text-history-id" style="float:left;width:12.5%;">No.</div>
        <div class="text-history-id" style="float:left;width:12.5%;">Nazwa</div>
        <div class="text-history-id" style="float:left;width:25%;">Data</div>
        <div class="text-history-id" style="float:left;width:25%;">Czas</div>
        <div class="text-history-id" style="float:left;width:25%;">Ip</div>
      </div>
      <div class="underline"></div>
      <div class="history-data">
        <div
          style="float:left; width:100%;"
          *ngFor="let history of user?.history; let i = index"
        >
          <div
            class="text-history-id"
            style="float:left;width:12.5%;height: 50px;line-height: 50px;"
          >
            {{ i + 1 }}
          </div>
          <div
            class="text-history"
            style="float:left;width:12.5%;height: 50px;line-height: 50px;"
            ngxClipboard
            [cbContent]="history.name"
            (click)="copy(' nazwy.', history.name)"
            [innerHTML]="highlight(history.name, valueName)"
          ></div>
          <div
            class="text-history"
            style="float:left;width:25%;height: 50px;line-height: 50px;"
            ngxClipboard
            [cbContent]="history.data"
            (click)="copy(' daty.', history.data)"
            [innerHTML]="highlight(history.data, valueDate)"
          ></div>
          <div
            class="text-history"
            style="float:left;width:25%;height: 50px;line-height: 50px;"
            ngxClipboard
            [cbContent]="history.time"
            (click)="copy(' czasu.', history.time)"
            [innerHTML]="highlight(history.time, valueTime)"
          ></div>
          <div
            class="text-history"
            style="float:left;width:25%;height: 50px;line-height: 50px;"
            ngxClipboard
            [cbContent]="history.ip"
            (click)="copy(' ip.', history.ip)"
          >
            {{ history.ip }}
          </div>
        </div>
      </div>
    </div>
    <div class="history-filter">
      <div class="filter-title">Filtruj:</div>
      <div class="underline" style="margin-bottom:10px;"></div>
      <div class="filter-input">
        <span class="input-description">Podaj nazwę:</span>
        <input
          class="input-profile"
          placeholder="Nazwa"
          (ngModelChange)="setFilterName($event)"
          [(ngModel)]="valueName"
        />
      </div>
      <div class="filter-input">
        <span class="input-description">Podaj datę:</span>
        <input
          class="input-profile"
          placeholder="Data"
          (ngModelChange)="setFilterDate($event)"
          [(ngModel)]="valueDate"
        />
      </div>
      <div class="filter-input">
        <span class="input-description">Podaj czas:</span>
        <input
          class="input-profile"
          placeholder="Czas"
          (ngModelChange)="setFilterTime($event)"
          [(ngModel)]="valueTime"
        />
      </div>
      <div class="filter-input">
        <span class="input-description">Wyklucz ip:</span>
        <input
          class="input-profile"
          placeholder="Ip"
          (ngModelChange)="setFilterIp($event)"
          [(ngModel)]="valueIp"
        />
      </div>
      <div style="float:left; width: 100%;text-align:center;">
        <button
          mat-raised-button
          style="background-color:#255190;color: white"
          (click)="showMeIp()"
        >
          Pokaż moje Ip
        </button>
      </div>
    </div>
  </div>
</div>
