/*================
  GLOBAL STYLES

  1. CARD SETTINGS
  2. PROFILE
  3. HISTORY

  AUTHOR: MARCIN PIERZYNOWSKI
  ================*/

/*==========================
  1. CARD SETTINGS
===========================*/

.cards {
  display: grid;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*==========================
  2. PROFILE
===========================*/
.my-profile {
  min-height: 500px;
  background-color: #fff;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  margin: 0 15px 15px 15px;
  -webkit-box-align: center;
  align-items: center;
  padding: 30px;
  overflow-x: hidden;
}

.basic-data {
  text-align: center;
}

.profile-image img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-bottom: 15px;
}

.user-name {
    margin: 0 0 .5rem;
    color: #354052;
    font-weight: 300;
    font-size: 18px;
}

.user-role {
  color: #354052;
  font-size: 14px;
  margin: 0;
}

.user-location {
  color: #7f8fa4;
  font-size: 14px;
}

.options-profile {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.options-profile a:nth-child(1) {
  text-align: center;
  background: linear-gradient(180deg,#2ea1f8,#1990ea);
  border: 1px solid #1a91eb;
  border-radius: 4px;
  color: #fff;
  font-size: .875rem;
  font-weight: 400;
  padding: .5rem 1.25rem;
}

.options-profile a:nth-child(2) {
  background: linear-gradient(180deg,#fff,#f2f4f7);
  border: 1px solid #dfe3e9;
  color: #354052;
  text-align: center;
  font-size: .875rem;
  font-weight: 400;
  padding: .5rem 1.25rem;
}

.options-profile a:nth-child(2):hover {
  cursor: pointer;
}

.options-profile a {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.statistic-profile {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  border: 1px solid #e6eaee;
  border-left: unset;
  border-right: unset;
}

.statistic-profile thead th {
  padding-top: 15px;
}

.statistic-profile p {
  margin: 0;
}


.statistic-profile thead th i {
  font-size: 12px;
}

.statistic-profile thead th i {
  color: #fdbc0e;
}

.statistic-profile thead th i:last-child {
  color: #bbbfc5;
}

.statistic-profile thead th p {
  font-size: 16px;
  color: #354052;
  font-weight: 500;
}

.statistic-profile tbody th {
  padding-bottom: 15px;
}

.statistic-profile tbody p {
  font-size: 12px;
  color: #7f8fa4;
  font-weight: 300;
}

.media-profile > p {
  font-size: 14px;
  margin-top: 30px;
  color: #7f8fa4;
  text-align: center;
}

.media-profile > p:nth-child(1) i {
  margin-right: 5px;
  transform: rotate(180deg);
}

.media-profile > div {
  margin-bottom: 30px;
  border: 1px solid #e6eaee;
  border-left: unset;
  border-right: unset;
}

.media-detail {
  position: relative;
}

.line-media {
  position: absolute;
  background-color: #e6eaee;
  width: 1px;
  height: 40px;
  left: 10%;
  z-index: 10;
  display: none;
}

.line-media:nth-child(2)[data="line-first"] {
  display: none;
}

.line-media:nth-child(3)[data="line-first"],
.line-media:nth-child(4) {
  display: block;
  top: 63px;
}

.line-media:nth-child(4)[data="line-second"] {
  display: none;
}

.line-media:nth-child(5) {
  display: block;
  top: 143px;
}

.media-detail > div[data="media"] {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.media-detail > div:nth-child(1) {
  text-align: center;
}

.media-contain {
  display: flex;
  justify-content: center;
}

.media-detail > div i {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 0;
}

.media-detail > div i[data="facebook"] {
  background-color: #4064ad;
  color: #fff;
}

.media-detail > div i[data="twitter"] {
  background-color: #27a4dc;
  color: #fff;
}

.media-detail > div i[data="linkedIn"] {
  background-color: #0271ae;
  color: #fff;
}

.media-desc {
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.media-desc p {
  color: #354052;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.media-desc a {
  color: #7f8fa4;
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap;
}

/*==========================
  2. HISTORY
===========================*/
.my-history {
  min-height: 500px;
  background-color: #fff;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  margin: 0 15px 15px 15px;
  -webkit-box-align: center;
  align-items: center;
}
