<div [@fadeInOutTranslate]>
    <section class="title-section-global">Ustawienia Konta</section>
    <main>
      <!-- Select Card -->
      <ul>
        <li (click)="setCard(1)" [class.not-active]="activeCard === 2">
          Profil
        </li>
        <li (click)="setCard(2)" [class.not-active]="activeCard === 1">
          Hasło
        </li>
      </ul>

      <!-- Card View -->
      <div class="card">
        
        <!-- Profile Settings -->
        <section [@fadeInOutTranslate] *ngIf="activeCard === 1">
              
            <div class="profile-settings">

              <!-- Avatar Image -->
              <div class="avatar">
                
                <!-- Image -->
                <div>
                  <img [src]="user.detail.imageUrl"/>
                </div>

                <!-- Input -->
                <a (click)="getFile(image)">
                  Edytuj Zdjęcie
                </a>
                <input type="file" #image [style.display]="'none'"  
                  (change)="uploadImage($event.target)" accept="image/x-png,image/gif,image/jpeg"/>
              </div>
              
              <!-- Basic Data User -->
              <div class="basic-info">
                <form autocomplete="off" [formGroup]="profileForm" 
                (submit)="updateProfile()">

                    <!-- Name -->
                    <div>
                        <label for="profile-name" basic-form>Imię:</label>
                        <input id="profile-name" basic-form placeholder="Imię"
                          formControlName="name"/>
                    </div>

                    <!-- Surname -->
                    <div>
                        <label for="profile-surname" basic-form>Nazwisko:</label>
                        <input id="profile-surname" basic-form placeholder="Nazwisko"
                          formControlName="surname"/>
                    </div>

                    <!-- Email -->
                    <div>
                        <label for="profile-email" basic-form>E-mail:</label>
                        <input id="profile-email" basic-form placeholder="E-mail"
                          formControlName="email" disabled/>
                    </div>
                </form>
              </div>

              <!-- Additional Data User -->
              <div class="additional-info">
                  <form autocomplete="off" [formGroup]="profileForm" 
                  (submit)="updateProfile()">
    
                      <!-- Country -->
                      <div>
                          <label for="profile-country" basic-form>Kraj:</label>
                          <input id="profile-country" basic-form placeholder="Kraj"
                            formControlName="country"/>
                      </div>
    
                      <!-- City -->
                      <div>
                          <label for="profile-city" basic-form>Miasto:</label>
                          <input id="profile-city" basic-form placeholder="Miasto"
                            formControlName="city"/>
                      </div>
    
                      <!-- Faceboook -->
                      <div>
                          <label for="profile-fb" basic-form>
                            Facebook:
                            <span class="fb-profile" icon-form reverse (click)="showNotification()"
                              ngxClipboard [cbContent]="user.media.facebook">
                                <i class="fab fa-facebook-f"></i>
                            </span>
                          </label>
                          <input id="profile-fb" basic-form reverse placeholder="Facebook"
                            formControlName="facebook"/>
                      </div>

                        <!-- Twitter -->
                        <div>
                            <label for="profile-twitter" basic-form>
                                Twitter:
                                <span class="tw-profile" icon-form reverse (click)="showNotification()"
                                  ngxClipboard [cbContent]="user.media.twitter">
                                    <i class="fab fa-twitter"></i>
                                </span>
                              </label>
                            <input id="profile-twitter" basic-form reverse placeholder="Twitter"
                              formControlName="twitter"/>
                        </div>

                          <!-- LinkedIn -->
                      <div>
                          <label for="profile-linked" basic-form>
                              LinkedIn:
                              <span class="ln-profile" icon-form reverse (click)="showNotification()"
                                ngxClipboard [cbContent]="user.media.linkedIn">
                                  <i class="fab fa-linkedin-in"></i>
                              </span>
                            </label>
                          <input id="profile-linked" basic-form reverse placeholder="LinkedIn"
                            formControlName="linkedIn"/>
                      </div>
                  </form>
              </div>
            </div>

              <hr/>
              <!-- Submit Profile-->
              <div class="submit-profile">
                  <button info-form (click)="updateProfile()">
                    Aktualizuj
                  </button>
                  <button danger-form (click)="deleteAccount()">
                    <i class="fas fa-trash-alt"></i>
                    Usuń Konto
                  </button>
              </div>
        </section>

        <!-- Password Settings -->
        <section [@fadeInOutTranslate] 
          class="password-settings" *ngIf="activeCard === 2">

        </section>

      </div>

    </main>
    
</div>