<section class="animate-background">
  <div class="card-sign-up">
    <div class="form-sign-up" [@flipInX]>
      
      <!-- Link To Sign In -->
      <div class="contain-link-login">
        <span style="opacity: 0.7;"> Masz już konto? </span>
        <a routerLink="/auth/sign-in"> Zaloguj </a>
      </div>

      <!-- Title -->
      <div class="contain-title">
        SHOP
        <img class="title-image" src="./assets/images/iconfinder_E-Commerce_1016078.png"/>
        ADMIN
      </div>

      <p class="text-center welcome-register-text">Rejestracja</p>
      <div class="contain-control-register">
        
        <!-- Form Register -->
        <form (ngSubmit)="submitRegister()" [formGroup]="newDataAccount" novalidate="true">
          
          <!-- Input Login -->
          <div class="control-register">
            <label [ngClass]="checkValidateEmail() ? 'field-resize field_danger b-field b-field_b1 page__field' : 'field-resize field a-field a-field_a1 page__field'">
              <input type="email" placeholder="Email"
                [ngClass]="checkValidateEmail() ? 'field_danger__input b-field__input' : 'field__input a-field__input'"
                formControlName="email"/>
              <span [ngClass]="checkValidateEmail() ? 'b-field__label-wrap' : 'a-field__label-wrap'">
                <span [ngClass]="checkValidateEmail() ? 'b-field__label' : 'a-field__label'">
                  Email
                </span>
              </span>
            </label>

            <!-- Alert Validate-->
            <div class="text-danger" *ngIf="checkValidate('email', 'required')"
              [@fadeInOutTranslate]>
              Pole nie może być puste!
            </div>
            <div class="text-danger" *ngIf="checkValidate('email', 'email')" [@fadeInOutTranslate]>
              Zły format emaila!
            </div>
          </div>

          <!-- Input Register -->
          <div class="control-register">
            <label [ngClass]="checkValidatePassword() ? 'field-resize field_danger b-field b-field_b1 page__field' : 'field-resize field a-field a-field_a1 page__field'">
              <input #password type="password"
                [ngClass]="checkValidatePassword() ? 'field_danger__input b-field__input' : 'field__input a-field__input'"
                placeholder="Hasło"formControlName="password"/>
              <span [ngClass]="checkValidatePassword() ? 'b-field__label-wrap' : 'a-field__label-wrap'">
                <span [ngClass]="checkValidatePassword() ? 'b-field__label' : 'a-field__label'">
                  Hasło
                </span>
              </span>
            </label>

            <!-- Alert Validate-->
            <div class="text-danger" *ngIf="checkValidate('password', 'required')"
              [@fadeInOutTranslate]>
              Pole nie może być puste!
            </div>
            <div class="text-danger" *ngIf="checkValidate('password', 'pattern')"
              [@fadeInOutTranslate]>
              Minimum 8 znaków, przynajmniej jedna litera, jedna cyfra i jeden
              znak specjalny
            </div>
            <div class="eye-password" (click)="setVisiblePassword(password)">
              <img *ngIf="vissiblePassword" height="40" width="40"
                src="./assets/images/iconfinder_icon-22-eye_315220.png" [@fadeInOutTranslate]/>
              <img *ngIf="!vissiblePassword" height="40" width="40"
                src="./assets/images/iconfinder_icon-21-eye-hidden_315219.png" [@fadeInOutTranslate]/>
            </div>
            <div class="spinner spinner-pos" [ngStyle]="{ display: displayAnimate }"></div>
          </div>

          <!-- Input Repeat Register -->
          <div class="control-register">
            <label [ngClass]="checkValidateRepeatPassword() ? 'field-resize field_danger b-field b-field_b1 page__field' : 'field-resize field a-field a-field_a1 page__field'">
              <input #Repeatpassword type="password"
                [ngClass]="checkValidateRepeatPassword() ? 'field_danger__input b-field__input' : 'field__input a-field__input'"
                placeholder="Powtórz Hasło" formControlName="repeatPassword"/>
              <span [ngClass]="checkValidateRepeatPassword() ? 'b-field__label-wrap' : 'a-field__label-wrap'">
                <span [ngClass]="checkValidateRepeatPassword() ? 'b-field__label' : 'a-field__label'">
                  Powtórz Hasło
                </span>
              </span>
            </label>

            <!-- Alert Validate-->
            <div class="text-danger" *ngIf="checkValidate('repeatPassword', 'required')"
              [@fadeInOutTranslate]>
              Pole nie może być puste!
            </div>
            <div class="text-danger"
              *ngIf="checkValidate('repeatPassword', 'equalTo')"
              [@fadeInOutTranslate]>
              Hasła muszą się zgadzać!
            </div>
            <div class="eye-password"(click)="setVisibleRepeatPassword(Repeatpassword)">
              <img *ngIf="vissibleRepeatPassword" height="40" width="40"
                src="./assets/images/iconfinder_icon-22-eye_315220.png" [@fadeInOutTranslate]/>
              <img *ngIf="!vissibleRepeatPassword" height="40" width="40"
                src="./assets/images/iconfinder_icon-21-eye-hidden_315219.png"[@fadeInOutTranslate]/>
            </div>
            <div class="spinner spinner-pos" [ngStyle]="{ display: displayAnimateRepeatPassword }"></div>
          </div>

          <!-- Submit Register -->
          <div class="submit-register">
            <button type="submit" class="button-submit">
              Zarejestruj
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Card Picture Right Section -->
  <div class="card-announcement"></div>
</section>
  