<div class="card-sign-up">
  <div class="form-sign-up" [@flipInX]>

    <!-- Link To Sign In -->
    <div class="contain-link-login">
      <span style="opacity: 0.7;"> Masz już konto? </span>
      <a routerLink="/auth/sign-in"> Zaloguj </a>
    </div>

    <!-- Title -->
    <div class="contain-title">
      SHOP
      <img class="title-image" src="./assets/images/home-welcome.png" />
      ADMIN
    </div>

    <p class="text-center welcome-register-text">Rejestracja</p>
    <div class="contain-control-register">

      <!-- Form Register -->
      <form (ngSubmit)="submitRegister()" [formGroup]="newDataAccount" novalidate="true">

        <!-- Input Email -->
        <div class="control-register">
          <label for="register-email" basic-form>Email:</label>
          <input id="register-email" basic-form placeholder="Email" formControlName="email" />

          <!-- Alert Validate-->
          <div class="text-danger" *ngIf="checkValidate('email', 'required')" [@fadeInOutTranslate]>
            Pole nie może być puste!
          </div>
          <div class="text-danger" *ngIf="checkValidate('email', 'email')" [@fadeInOutTranslate]>
            Zły format emaila!
          </div>
        </div>

        <!-- Input Register -->
        <div class="control-register">
          <label for="register-password" basic-form>
            Hasło:
            <span [style.border]="'unset'" [style.background]="'none'" icon-form>
              <i class="fas fa-eye" *ngIf="vissiblePassword" (click)="setVisiblePassword(password)"></i>
              <i class="fas fa-eye-slash" *ngIf="!vissiblePassword" (click)="setVisiblePassword(password)"></i>
            </span>
          </label>
          <input #password id="register-password" type="password" basic-form placeholder="Hasło"
            formControlName="password" />

          <!-- Alert Validate-->
          <div class="text-danger" *ngIf="checkValidate('password', 'required')" [@fadeInOutTranslate]>
            Pole nie może być puste!
          </div>
          <div class="text-danger" *ngIf="checkValidate('password', 'pattern')" [@fadeInOutTranslate]>
            Minimum 8 znaków, przynajmniej jedna litera, jedna cyfra i jeden
            znak specjalny
          </div>
        </div>

        <!-- Input Repeat Register -->
        <div class="control-register">
          <label for="register-repeatPassword" basic-form>
            Powtórz Hasło:
            <span [style.border]="'unset'" [style.background]="'none'" icon-form>
              <i class="fas fa-eye" *ngIf="vissibleRepeatPassword"
                (click)="setVisibleRepeatPassword(repeatPassword)"></i>
              <i class="fas fa-eye-slash" *ngIf="!vissibleRepeatPassword"
                (click)="setVisibleRepeatPassword(repeatPassword)"></i>
            </span>
          </label>
          <input #repeatPassword id="register-repeatPassword" type="password" basic-form placeholder="Powtórz Hasło"
            formControlName="repeatPassword" />

          <!-- Alert Validate-->
          <div class="text-danger" *ngIf="checkValidate('repeatPassword', 'required')" [@fadeInOutTranslate]>
            Pole nie może być puste!
          </div>
          <div class="text-danger" *ngIf="checkValidate('repeatPassword', 'equalTo')" [@fadeInOutTranslate]>
            Hasła muszą się zgadzać!
          </div>
        </div>

        <!-- Submit Register -->
        <div class="submit-register">
          <button primary-form [style.width]="'150px'">
            Zarejestruj
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Card Picture Right Section -->
<div class="card-announcement">
  <app-logo-background></app-logo-background>
</div>