<div class="card" [@fadeInOutTranslate]>
  <div class="title-section">Komentarze produktów</div>
  <div class="settings-card">
    
    <!-- Filter Comments -->
    <div [@fadeInOutTranslate] *ngIf="comments && comments.length > 0" class="filter-contain" style="margin-bottom: 50px;">
        <p>Filtruj:</p>
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6" style="margin-bottom: 10px;">
                Użytkownik:&nbsp;&nbsp;&nbsp;&nbsp;
                <input [(ngModel)]="user" (input)="filterData()" placeholder="Użytkownik"/>
                <span class="logo-form"><i class="fas fa-search"></i></span>
              </div>
              <div class="col-12 col-md-6" style="margin-bottom: 10px;">
                Data:
                <input [(ngModel)]="date" (input)="filterData()" placeholder="Data: dd-mm-yyyy"/>
                <span class="logo-form"><i class="fas fa-search"></i></span>
            </div>
          </div>
        </div>
    </div>
    
    <div [@fadeInOutTranslate] class="list-messages-section">

      <!-- Empty Comments -->
      <div class="img-error" *ngIf="comments && comments.length === 0">
        <img class="img-fluid" height="350" width="262" src="./assets/images/error.svg"/>
        <p style="float: left;width: 100%;font-weight: 500;font-size: 18px;margin-bottom: 20px;">
          Nie ma nowych komentarzy!
        </p>
      </div>

      <!-- List Comments -->
      <div *ngIf="comments && comments.length > 0">
        <table class="table">

          <!-- List Headers -->
          <thead style="background-color: #255190;color: #fff;">
            <tr>
              <th scope="col">Użytkownik</th>
              <th scope="col">Data</th>
              <th scope="col">Opcje</th>
            </tr>
          </thead>

          <!-- List Body -->
          <tbody>
            <tr *ngFor="let comment of cpComments; let i = index" (click)="showComments(comment.desc)">
              
              <!-- Comment User -->
              <td class="more-information">
                {{ comment.user }}
              </td>
              
              <!-- Comment Date -->
              <td class="more-information">
                {{ comment.date }}
              </td>
              
              <!-- Comment More Option -->
              <td (click)="$event.stopPropagation()">
                <mat-select class="mat-select" placeholder="Opcje">
                  <mat-option (click)="deleteComment(comment.id)">
                    Usuń
                  </mat-option>
                </mat-select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
