<div [@fadeInOutTranslate]>
  <section class="title-section-global">{{ editMode ? 'Edycja Produktu' : 'Dodanie produktu' }}</section>

  <!-- Product Card -->
  <main class="product-card">

    <form autocomplete="off" [formGroup]="productForm" (ngSubmit)="submitAddProduct()" novalidate="true">
      <!-- About Product -->
      <header>
        <h4>
          <i class="fas fa-list-ul"></i>
          O produkcie
        </h4>
      </header>
      <hr />

      <section class="about-product">

        <!-- Name Product -->
        <div>
          <label for="name-product" basic-form>
            Nazwa:
            <span icon-form [style.background]="'none'" [style.border]="'none'">
              <i class="fas fa-signature"></i>
            </span>
          </label>
          <input id="name-product" basic-form valid-input placeholder="Produktu" formControlName="name" />

          <!-- Alert Validate-->
          <p class="text-danger" *ngIf="checkValidate('name', 'required')" [@fadeInOutTranslate] text-form-danger>
            Pole nie może być puste!
          </p>
        </div>

        <!-- Subject Product -->
        <div>
          <label for="subject-product" basic-form>
            Tematyka:
            <span icon-form [style.background]="'none'" [style.border]="'none'">
              <i class="fas fa-book-open"></i>
            </span>
          </label>
          <input id="subject-product" basic-form valid-input placeholder="Tematyka" formControlName="subject" />

          <!-- Alert Validate-->
          <p class="text-danger" *ngIf="checkValidate('subject', 'required')" [@fadeInOutTranslate] text-form-danger>
            Pole nie może być puste!
          </p>
        </div>

        <!-- Price Product -->
        <div>
          <label for="price-product" basic-form>
            Cena:
            <span icon-form [style.background]="'none'" [style.border]="'none'">
              <i class="fas fa-dollar-sign"></i>
            </span>
          </label>
          <input type="number" min="0" id="price-product" basic-form valid-input placeholder="Cena"
            formControlName="price" />

          <!-- Alert Validate-->
          <p class="text-danger" *ngIf="checkValidate('price', 'min')" [@fadeInOutTranslate] text-form-danger>
            Cena nie może być równa oraz mniejsza niż '0'!
          </p>
        </div>

        <!-- Promotion Product -->
        <div>
          <label for="promotion-product" basic-form>
            Promocja:
            <span icon-form [style.background]="'none'" [style.border]="'none'">
              <i class="fas fa-percent"></i>
            </span>
          </label>
          <input type="number" id="promotion-product" basic-form valid-input placeholder="Promocja"
            formControlName="promotion" />

          <!-- Alert Validate-->
          <p class="text-danger" *ngIf="checkValidate('promotion', 'min')" [@fadeInOutTranslate] text-form-danger>
            Promocja nie może być mniejsza niż '0'!
          </p>
          <p class="text-danger" *ngIf="checkValidate('promotion', 'max')" [@fadeInOutTranslate] text-form-danger>
            Promocja nie może być większa niż '100'!
          </p>
        </div>

        <!-- Category  Product -->
        <div [style.position]="'relative'">
          <label for="category-product" basic-form>
            Kategoria:
            <span icon-form [style.background]="'none'" [style.border]="'none'">
              <i class="fas fa-project-diagram"></i>
            </span>
          </label>
          <input type="text" id="category-product" basic-form valid-input placeholder="Kategoria"
            formControlName="categoryID" readonly (click)="toggleSelect(); $event.stopPropagation()" />
          <app-select-filter *ngIf="vissibleSelect" (click)="$event.stopPropagation()"
            (setCategory)="setCategory($event[0],$event[1])" (clear)="clearCategory($event[0],$event[1])">
          </app-select-filter>
          <!-- Alert Validate-->
          <p class="text-danger" *ngIf="checkValidate('categoryID', 'required')" [@fadeInOutTranslate] text-form-danger>
            Pole nie może być puste!
          </p>
        </div>

      </section>

      <!-- About Product -->
      <header [style.padding-top]="'30px'">
        <h4>
          <i class="far fa-comment-alt"></i>
          Opis Produktu
        </h4>
      </header>
      <hr />

      <section class="description-product">

        <!-- Description Product -->
        <div>
          <label for="desc-product" basic-form>
            Opis:
          </label>
          <textarea type="text" id="desc-product" rows="5" basic-form valid-textarea placeholder="Opis"
            formControlName="desc"></textarea>

          <!-- Alert Validate-->
          <p class="text-danger" *ngIf="checkValidate('desc', 'required')" [@fadeInOutTranslate] text-form-danger>
            Pole nie może być puste
          </p>
        </div>

        <!-- Meta Title -->
        <div>
          <label for="metaTitle-product" basic-form>
            Tytuł:
            <span icon-form [style.background]="'none'" [style.border]="'none'">
              <i class="far fa-edit"></i>
            </span>
          </label>
          <input id="metaTitle-product" basic-form valid-input placeholder="Tytuł" formControlName="metaTitle" />

          <!-- Alert Validate-->
          <p class="text-danger" *ngIf="checkValidate('metaTitle', 'required')" [@fadeInOutTranslate] text-form-danger>
            Pole nie może być puste!
          </p>
        </div>

        <!-- Meta Keyword -->
        <div>
          <label for="metaKeyword-product" basic-form>
            Słowo Klucz:
            <span icon-form [style.background]="'none'" [style.border]="'none'">
              <i class="fas fa-key"></i>
            </span>
          </label>
          <input id="metaKeyword-product" basic-form valid-input placeholder="Słowo klucz"
            formControlName="metaKeyword" />

          <!-- Alert Validate-->
          <p class="text-danger" *ngIf="checkValidate('metaKeyword', 'required')" [@fadeInOutTranslate]
            text-form-danger>
            Pole nie może być puste!
          </p>
        </div>

      </section>

      <!-- Image Product -->
      <header [style.padding-top]="'30px'">
        <h4>
          <i class="far fa-file-image"></i>
          Zdjęcie Produktu
        </h4>
      </header>
      <hr />

      <div class="drop-area">
        <img class="image-select" />

        <!-- Drop Area -->
        <file-drop #el (onFileDrop)="dropped($event)">
          <section *ngIf="!FLAG_IS_PICTURE">
            <div class="drop-desc">
              <h6>Przesyłanie Zdjęcia</h6>
              <p>Przeciągnij & Puść lub kliknij w przycisk dodaj</p>
            </div>
            <div class="upload-icon">
              <i class="fas fa-cloud-upload-alt"></i>
            </div>
          </section>
        </file-drop>

        <!-- Alert Validate-->
        <p [style.text-align]="'center'" [style.margin-top]="'10px'" class="text-danger" *ngIf="checkValidate('image', 'required')" [@fadeInOutTranslate] text-form-danger>
          Zdjęcie nie może być puste!
        </p>

        <!-- Button Upload Image -->
        <div (click)="getFile(dropInput)" class="button-upload">
          <div class="area-set">
            <i class="fa fa-upload"></i>
            <p>Dodaj Zdjęcie</p>
          </div>
        </div>
        <input #dropInput type="file" [style.display]="'none'" (change)="uploadImage($event.target)"
          accept="image/x-png,image/gif,image/jpeg" />
      </div>

      <!-- Additional Information -->
      <header [style.padding-top]="'30px'">
        <h4>
          <i class="fas fa-book"></i>
          Dodatkowe Informacje
          <span [style.font-size]="'13px'" [style.margin-left]="'5px'"> (*opcjonalnie)</span>
        </h4>
      </header>
      <hr />

      <!-- Params List -->
      <div class="parametrs-list" *ngFor="let param of productForm.value.params; let i = index" [formGroup]="param">
        <input basic-form placeholder="Nazwa" formControlName="name" />
        <input basic-form placeholder="Wartość" formControlName="value" />
        <i class="fas fa-trash-alt" (click)="deleteParam(i)" [style.color]="'#ed1c24'"></i>
      </div>

      <button [style.margin-top]="'15px'" type="button" (click)="addParam()" secondary-form>
        <i class="fas fa-plus"></i>
        Dodaj Informacje
      </button>
      <hr />

      <!-- Submit -->
      <div class="submit">
        <button *ngIf="!editMode" type="submit" info-form>Stwórz</button>
        <button *ngIf="editMode" type="submit" warning-form>Zapisz</button>
      </div>
    </form>

  </main>

</div>