/*================
  GLOBAL STYLES

  1. ADD PRODUCT CARD
  2. PRODUCT FORM

  AUTHOR: MARCIN PIERZYNOWSKI
  ================*/

/*==========================
  1. CARD SETTINGS
===========================*/

.product-card {
  min-height: 1px;
  background-color: #fff;
  border: 1px solid #e6eaee;
  border-radius: 4px;
  margin: 0 15px 15px 15px;
  -webkit-box-align: center;
  align-items: center;
  padding: 30px;
  margin-top: 20px;
}

header>h4 {
  color: #354052;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

header>h4>i {
  font-size: 12px;
  margin-right: 5px;
}

/*===========================
  2. PRODUCT FORM
===========================*/

.about-product {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-row-gap: 20px;
}

.description-product {
  display: grid;
  grid-row-gap: 20px;
  grid-gap: 20px;
}

.drop-area {
  min-height: 1px;
  width: 200px;
  position: relative;
}

.image-select {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.drop-desc h6 {
  text-align: center;
  color: #354052;
  font-size: 16px;
  font-weight: 400;
  margin-top: 50px;
  text-transform: uppercase;
}

.drop-desc p {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}

.upload-icon {
  position: absolute;
  -webkit-box-shadow: 0 2px 5px 1px #afafaf;
  -moz-box-shadow: 0 2px 5px 1px #afafaf;
  box-shadow: 0 2px 5px 1px #afafaf;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding: 15px;
}

.button-upload {
  margin: 0 auto;
  margin-top: 15px;
  width: 200px;
  background: linear-gradient(180deg,#fff,#f2f4f7);
  border: 1px solid #dfe3e9;
  color: #354052;
  text-align: center;
  border-radius: 4px;
  padding: .5rem 1.25rem;
  font-size: .875rem;
  font-weight: 400;
  height: 40px;
  overflow-y: hidden;
  position: relative;
  
}

.button-upload:hover {
  cursor: pointer;
}

.button-upload:hover div {
  bottom: -37.5px;
}

.button-upload div {
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 7.5px;
}

.button-upload p {
  margin: 0;
  height: 25px;
  margin-top: 25px;
}

.parametrs-list {
  display: grid;
  grid-gap: 5px;
  margin-bottom: 10px;
  align-items: baseline;
  grid-template-columns: 47.5% 47.5% 5%;
}

.parametrs-list i:hover {
  cursor: pointer;
}

.submit {
  margin-right: 15px;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .about-product {
    grid-template-columns: repeat(2, 1fr);
  }
  .description-product {
    grid-template-areas: "textarea textarea" "title keyword";
  }
  .description-product>div:nth-child(1) {
    grid-area: textarea;
  }
  .description-product>div:nth-child(2) {
    grid-area: title;
  }
  .description-product>div:nth-child(3) {
    grid-area: keyword;
  }

  .drop-area {
    width: 355px;
  }

  .parametrs-list {
    grid-gap: 20px;
  }
}