<div class="card" [@fadeInOutTranslate]>

  <!-- Title Section -->
  <div class="title-section">Dodaj Produkt</div>

  <!-- Product Card -->
  <div class="settings-card">
    <div class="product-section">
      <div class="product-form" [@fadeInOutTranslate]>
        <div class="stepper-contain">

          <!-- Stepper -->

          <!-- First Stepper -->
          <div (click)="setStepper(-1)" class="stepper-description">
            <span [ngStyle]="{ backgroundColor: stepperSection === 1 ? 'rgba(63, 81, 181, 1)' : 'gray' }">{{ getStepperNumber(-1) }}</span>
            <span [ngStyle]="{ fontWeight: stepperSection === 1 ? '800' : '500' }">
                &nbsp;&nbsp; {{ getStepperName(-1) }}
            </span>
          </div>

          <!-- Break Line Stepper -->
          <div class="stepper-line"><div></div></div>

          <!-- Second Stepper -->
          <div (click)="setStepper(0)" class="stepper-description">
            <span [ngStyle]="{ backgroundColor: stepperSection === 2 || stepperSection === 3 ? 'rgba(63, 81, 181, 1)' : 'gray' }">{{ getStepperNumber(0) }}</span>
            <span [ngStyle]="{ fontWeight: stepperSection === 2 || stepperSection === 3 ? '800': '500' }">
                &nbsp;&nbsp; {{ getStepperName(0) }}
            </span>
          </div>

          <!-- Break Line Stepper -->
          <div class="stepper-line"><div></div></div>

            <!-- Third Stepper -->
          <div (click)="setStepper(1)" class="stepper-description">
            <span [ngStyle]="{ backgroundColor: stepperSection === 4 ? 'rgba(63, 81, 181, 1)' : 'gray' }">{{ getStepperNumber(1) }}</span>
            <span [ngStyle]="{ fontWeight: stepperSection === 4 ? '800' : '500' }">
              &nbsp;&nbsp; {{ getStepperName(1) }}
            </span>
          </div>

        </div>

        <!-- Form Add New Product -->
        <div class="stepper">

          <form (ngSubmit)="submitAddProduct()" [formGroup]="productForm" novalidate="true">
            <!-- Upload Images -->
            <div *ngIf="stepperSection === 1" [@fadeInOutTranslate]>
              <div class="area-picture">
                <div class="picture-drop">
                  <img class="image-drop" src="./assets/images/cloud-drop.png" />
                </div>

                <!-- Step:1 Drag File Drop Area -->
                <file-drop (onFileDrop)="dropped($event)">
                  <div class="drop-title">
                    <p class="text-drop">Przeciągnij i upuść plik.</p>
                    <p class="text-drop">lub</p>
                    <input #dropInput type="file" style="display:none;" multiple
                      (change)="uploadImage($event.target)" accept="image/x-png,image/gif,image/jpeg"/>
                    <button mat-raised-button style="background-color:#f29700; width: 120px;" (click)="getFile(dropInput)">
                      Wybierz plik
                    </button>
                  </div>
                </file-drop>

              </div>

              <!-- Images View -->
              <div class="image-drop-contain" *ngFor="let image of this.productForm.value.images; let i = index"
                [@fadeInOutTranslate]>
                <div class="contain-image"><img class="image-upload" /></div>
                <div class="image-information-contain">
                  <p class="image-information name-image">{{ image.urlName }}</p>
                  <p class="image-information size-image">
                    {{ countSizeImage(image.urlSize) }}
                  </p>
                </div>
                <div class="cancel-image-contain">
                  <button mat-fab class="cancel-image" (click)="cancelImage(i)">
                    <i class="fas fa-times icon-cancel-image"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- Step:2 Detail Products -->
            <div *ngIf="stepperSection === 2" [@fadeInOutTranslate]>
              <div class="title-second-section"><p>Dane o produkcie</p></div>
              <div class="underline"></div>
              
              <!-- Title Product -->
              <div class="form-contain">
                <mat-form-field style="text-align:center;position: relative;" class="second-form-input">
                  <div class="form-help">
                    <i class="fas fa-info-circle tooltip-info"
                      matTooltip="Tytuł produktu używany jako tag wyszukiwania w wyszukiwarce produktów">
                    </i>
                  </div>
                  <input style="text-align:center;" matInput placeholder="Tytuł" formControlName="title" type="text" id="title-product"/>
                </mat-form-field>
              </div>

              <!-- Input Price -->
              <div class="form-contain">
                <mat-form-field style="text-align:center;position: relative;"class="second-form-input">
                  <input style="text-align:center;" matInput placeholder="Cena" type="number" formControlName="price"/>
                </mat-form-field>
              </div>

              <!-- Promotion Price -->
              <div class="form-contain">
                <mat-form-field style="text-align:center;position: relative;" class="second-form-input">
                  <div class="form-help">
                    <i class="fas fa-info-circle tooltip-info" 
                      matTooltip="Podaj wartość procentową obniżenia, względem głównej ceny. *symbol procenta nie jest potrzebny i nie jest dozwolony!">
                    </i>
                  </div>
                  <input style="text-align:center;" matInput placeholder="Promocja" formControlName="promotion" type="number"/>
                </mat-form-field>
              </div>

              <!-- Number Reference Product -->
              <div class="form-contain">
                <mat-form-field style="text-align:center;position: relative;" class="second-form-input">
                  <div class="form-help">
                    <i class="fas fa-info-circle tooltip-info"
                      matTooltip="Nr referencyjny indentyfikujacy produkt widoczny dla klienta minimum 9 znaków i musi być unikatowy. Jeśli nie podasz, numer zostanie automatycznie wygenerowany">
                    </i>
                  </div>
                  <input style="text-align:center;" matInput placeholder="Nr. referencyjny" type="number" formControlName="ref"/>
                </mat-form-field>
              </div>

              <!-- Description Product -->
              <div class="form-contain">
                <mat-form-field style="text-align:center;position: relative;" class="example-full-width" class="second-form-input">
                  <div class="form-help">
                    <i class="fas fa-info-circle tooltip-info"
                      matTooltip="Główny opis produktu widoczny dla klienta">
                    </i>
                  </div>
                  <textarea matInput style="text-align:center;" matInput placeholder="Opis produktu" formControlName="desc"></textarea>
                </mat-form-field>
              </div>
            </div>

            <!-- Step:3 Product Params -->
            <div *ngIf="stepperSection === 3" [@fadeInOutTranslate]>
              <div class="title-second-section">
                <p>
                  Parametry
                  <span style="font-size: 14px;font-weight: 400;">*opcjonalnie</span>
                </p>
              </div>
              <div class="underline"></div>
              <div class="form-contain">

                <!-- Params List -->
                <div class="parametrs-list" *ngFor="let param of productForm.value.params; let i = index" [formGroup]="param">
                  <mat-form-field class="parametrs-field">
                    <input matInput placeholder="Nazwa" type="text" formControlName="name"/>
                  </mat-form-field>
                  <mat-form-field class="parametrs-field">
                    <input matInput placeholder="War./Jedn." type="text" formControlName="value"/>
                  </mat-form-field>
                  <span class="option-parametr" (click)="deleteParam(i)">
                    <span class="remove-parametr">
                      <i class="fas fa-times"></i>
                    </span>
                  </span>
                </div>

                <!-- Add New Params -->
                <div style="float:left;width:100%;margin-top: 10px;">
                  <button mat-raised-button style="background-color:#888888;color:white;width: 120px;margin-bottom: 20px;"
                    (click)="addParam()">
                    Dodaj 
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- 4 Kategorie -->
            <div *ngIf="stepperSection === 4" [@fadeInOutTranslate]>
                
              <!-- Title-->
              <div class="title-second-section">
                <p>
                  Kategorie
                  <span style="font-size: 14px;font-weight: 400;">*opcjonalnie</span>
                </p>
              </div>
              <div class="underline"></div>
              
              <!-- Form Category -->
              <div class="form-contain">
                <div>

                  <!-- List Empty Category -->
                  <p *ngIf="categories && categories.length === 0" class="text-category">
                    Brak kategorii! *dodaj nową aby przypisać
                  </p>

                  <!-- List Category -->
                  <div class="category-list">
                    <table *ngIf="categories && categories.length > 0" class="table table-borderless">
                        
                      <!-- List Hedaer -->
                      <thead>
                        <tr>
                          <th scope="col">Numer</th>
                          <th scope="col">Kategoria</th>
                          <th scope="col">Opcje</th>
                        </tr>
                      </thead>

                      <!-- List Body -->
                      <tbody>
                        <tr [style.backgroundColor]="catID === category.id ? 'lightgray' : 'unset'"        
                          *ngFor="let category of categories; let i = index">
                            
                          <!-- No -->
                          <td>{{ i + 1 }}</td>

                          <!-- Name -->
                          <td>{{ category.name }}</td>

                          <!-- Options -->
                          <td>
                            <mat-select class="mat-select" placeholder="Opcje">
                                
                              <!-- Assign Category -->
                              <mat-option (click)="catID = category.id" *ngIf="catID !== category.id">
                                Przypisz
                              </mat-option>

                              <!-- Unassign Category -->
                              <mat-option (click)="catID = null" *ngIf="catID === category.id">
                                Odpisz
                              </mat-option>

                              <!-- Delete Category -->
                              <mat-option (click)="showModalDeleteCategory(category.id)">
                                Usuń
                              </mat-option>
                            </mat-select>
                          </td>
                        </tr>
                      </tbody>

                    </table>
                  </div>

                  <!-- Submit Create A New Category -->
                  <div class="category-form">
                    <button type="button" mat-button (click)="showModalAddCategory()">Stwórz</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="step-next-submit">
              <button type="button" mat-button class="prev-step" (click)="prevOrNextNumber(-1)" *ngIf="stepperSection > 1">
                 Wróć
              </button>
              <button type="button" mat-button class="next-step" (click)="prevOrNextNumber(1)" *ngIf="stepperSection < 4">
                 Dalej
              </button>
              <button type="submit" mat-button class="next-step" *ngIf="stepperSection === 4">
                 Stwórz
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

