/*================
  GLOBAL STYLES

  1. LOADER
  2. ACITIVITY PAGES
  3. MORE DETAILS

  AUTHOR: MARCIN PIERZYNOWSKI
  ================*/


/*======================
    1. CARDS STATISTIC
======================*/
.card {
    display: grid;
    background-color: inherit;
    border: none;
    margin-top: 20px;
    grid-template-columns: 1fr;
    font-family: 'Nanum Gothic', sans-serif;
    min-height: 1px;
}

.card > div {
    background-color: #ffffff;
    margin: 0 15px;
    margin-bottom: 15px;
}

.card > div .static-description {
    padding: 30px 30px 0px 30px;
}

.card > div .chart {
    padding: 30px 15px 0px 15px;
    margin-bottom: 20px;
}

.static-description h3 {
    font-size: 1.125rem;
    color: #354052;
    font-weight: 500;
    margin: 0;
}

.static-description p {
    margin: 0 0 .625rem;
    color: #7f8fa4;
    font-size: .75rem;
}

.static-description h4 {
    font-size: 2.5rem;
    color: #354052;
    font-weight: 100;
}

.static-description h4 sup {
    font-size: 12px;
    position: relative;
    top: -20px;
    right: 5px;
}

canvas {
    width: 100% !important;
    max-height: 400px !important;
}

.chart-weeks {
    margin-bottom: 15px;
}

.chart-weeks {
    color: #7f8fa4;
    font-size: .675rem;
    display: flex;
    align-items: center;
}

.chart-weeks > p {
    flex-basis: 30%;
    margin: 0;
}

.chart-weeks > div {
    flex-basis: 70%;
    display: grid;
}

.chart-weeks:nth-child(1) > div {
    grid-template-columns: repeat(3, 1fr);
}

.chart-weeks:nth-child(2) > div {
    grid-template-columns: 20% 60% 20%;
}

.chart-weeks:nth-child(3) > div {
    grid-template-columns: 80% 20% 0%;
}

.chart-weeks:nth-child(4) > div {
    grid-template-columns: 15% 45% 40%;
}

.chart-weeks > div > div {
    height: 4px;
}

.chart-weeks > div > div:nth-child(odd) {
    border-radius: 1px;
}

.chart-weeks > div > div:nth-child(1) {
    background-color: #1bb934;
}

.chart-weeks > div > div:nth-child(2) {
    background-color: #1a91eb;
}

.chart-weeks > div > div:nth-child(3) {
    background-color: red;
}

.list-weeks {
    color: #7f8fa4;
    font-size: .675rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-weeks > p {
    position: relative;
}

.list-weeks > p::after {
    content: "";
    width: 5px;
    position: absolute;
    height: 2px;
    border-radius: 1px;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.list-weeks > p[data="success"]::after {
    background-color: #1bb934;
    content: "";
    position: absolute;
}

.list-weeks > p[data="waiting"]::after {
    background-color: #1a91eb;
    content: "";
    position: absolute;
}

.list-weeks > p[data="error"]::after {
    background-color: red;
    content: "";
    position: absolute;
}

@media screen and (min-width: 1200px) {
    .card {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*======================
    2. ACITIVITY PAGES
======================*/

.activity-pages {
    display: grid;
    margin-top: 20px;
}

.activity-pages .acitvity-description {
    min-height: 1px;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #e6eaee;
    border-radius: 4px;
    margin: 0 15px 15px 15px;
}

.acitvity-description > div:nth-child(2) {
    padding: 20px 30px;
    border-bottom: 1px solid #e6eaee;
}

.acitvity-description > div:nth-child(2) h4 {
    margin: 0;
    font-size: 1.15rem;
    margin: 0 0 .5rem;
    color: #354052;
    font-weight: 400;
}

.acitvity-description > div:nth-child(2) p {
    margin: 0;
    color: #7f8fa4;
    font-size: .75rem;
}

.acitvity-description > div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 30px;
}

.acitvity-description > div:nth-child(3) p {
    margin: 0;
}

.acitvity-description > div:nth-child(3) p:nth-child(1) {
    max-width: 100px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.acitvity-description > div:nth-child(3) p:nth-child(even) {
    text-align: right;
}

.acitvity-description > div:nth-child(3) p:nth-child(-n + 2) {
    font-size: 14px;
    color: #354052;
}

.acitvity-description > div:nth-child(3) p:nth-child(3) {
    font-size: 11px;
    color: #7f8fa4;
}

.acitvity-description > div:nth-child(3) p:nth-child(4) {
    font-size: 11px;
    color: #ed1c24;
}

.empty-info {
    color: #7f8fa4;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

@media screen and (min-width: 576px) {
    .activity-pages {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .activity-pages {
      grid-template-columns: repeat(4, 1fr);
    }
}

/*======================
    3. MORE DETAILS
======================*/

.more-details {
    display: grid;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .more-details {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*
* Messages Card & Task Card
*/
.more-details .messages-card, 
.more-details .tasks-card {
    min-height: 1px;
    background-color: #fff;
    border: 1px solid #e6eaee;
    border-radius: 4px;
    margin: 0 15px 15px 15px;
    align-items: center;
}

.more-details .messages-card {
    overflow-x: overlay;
    min-width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    flex-direction: column;
}

.more-details .messages-card::-webkit-scrollbar-track {
    background-color: #ffffff;
}
  
.more-details .messages-card::-webkit-scrollbar {
    height: 8px;
    background-color: #ffffff;
}
  
.more-details .messages-card::-webkit-scrollbar-thumb {
    background-color: rgba(114, 115, 118);
    border: 2px solid rgba(114, 115, 118);
    border-radius: 1.5px;
}

.messages-card > div:nth-child(1),
.tasks-card > div:nth-child(1) {
    display: flex;
    padding: 25px 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6eaee;
}

.messages-card > div:nth-child(1) {
    border-bottom: unset;
}

.messages-card > div:nth-child(1) p,
.messages-card > div:nth-child(1) h5,
.tasks-card > div:nth-child(1) p,
.tasks-card > div:nth-child(1) h5 {
    margin: 0;
}

.messages-card > div:nth-child(1) h5,
.tasks-card > div:nth-child(1) h5 {
    color: #354052;
    font-weight: 300;
    font-size: 18px;
}

.messages-card > div:nth-child(1) p,
.tasks-card > div:nth-child(1) p {
    font-size: 12px;
    color: #7f8fa4;
    max-width: 100px;
    text-decoration: underline;
    text-align: center;
}

.messages-card > div:nth-child(1) p:hover,
.tasks-card > div:nth-child(1) p:hover {
    cursor: pointer;
}

/*
* Messages Default Styles
*/

 .empty-messages {
    display: grid;
    border-top: 1px solid #e6eaee;
    grid-template-columns:  25% 75%;
 }

 .text-empty-messages {
    padding: 10px 0;
    text-align: left;
 }
  
 .text-empty-messages h6 {
    color: #354052;
    font-weight: 500;
    font-size: 16px;
  }
  
 .text-empty-messages p {
    margin-bottom: 0;
    color: #7f8fa4;
    font-size: 14px;
  }

.img-messages {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-messages img {
    width: 60px;
    height: 60px;
}

.list-new-messages {
    border-top: 1px solid #e6eaee;
    padding: 25px 30px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 10% minmax(40px, 20%) minmax(150px, 25%) minmax(150px, 25%) minmax(100px, 20%);   
}

.list-new-messages p {
    margin: 0;
    color: #7f8fa4;
    font-size: .875rem;
    font-weight: 500;
}

.list-new-messages .img-user img {
    height: 40px;
    width: 40px;
    border: #c9c9c9 0.5px solid;
    border-radius: 50%;
}

.mark-message button {
    margin-left: auto;
    width: 60px;
    border: unset;
    font-size: 12px;
    color: #fff;
    background-color: #5599f9;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark-message button:hover {
    cursor: pointer;
}

/*
* Task Default Styles
*/
.task {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 10% calc(55% - 10px) 35%;
    grid-gap: 5px;
}

.task:nth-child(1n + 3) {
    border-top: 1px solid #e6eaee;
}

.task span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 15px 0 0;
    transition: all .3s;
    border: 1px solid #b7c0cd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task span:hover {
    cursor: pointer;
}

.task span i {
    color: #1bb934;
}

.task p {
    color: #354052;
    font-size: 14px;
    margin: 0;
}

.task p:hover {
    cursor: pointer;
}

.task a {
    margin-left: auto;
    width: 60px;
    font-size: 12px;
    color: #000;
    background-color: orange;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}