<div class="card" [@fadeInOutTranslate]>
  <div class="notification-contain" *ngIf="user?.security && visibleNotificationSecurity"
    [@fadeInOutTranslate]>
    <div class="icon-notification"><i class="fas fa-check-circle"></i></div>
    <div class="notification-title">
      Witaj w panelu zarządzającym Muszelka Admin. Pamiętaj aby nie przekazywać
      nikomu linka do strony, z powodu zwiększenia niebezpieczeństwa dla strony!
      &nbsp;
      <span class="notification-secure-settings" routerLink="/my-settings">
        Ustawienia wyświetlania komunikatu bezpieczeństwa.
      </span>
    </div>
    <div class="close-security-notification" (click)="visibleNotificationSecurity = false">
      <i class="fas fa-times"></i>
    </div>
  </div>
  <div class="col-12" style="margin-top: 50px;display: flex;align-items: center;justify-content: center;margin-bottom: 10px;">
    <div style="font-style: italic" class="col-12 col-md-6">
      <div class="welcome-text">
        Witaj użytkowniku
      </div>
      <div class="text-entry">
        Dobrze znów cię tu widzieć. Co chciałbyś robić?
      </div>
    </div>
    <div class="image-welcome col-12 col-md-6">
      <img class="img-fluid" src="./assets/images/home-welcome.png" />
    </div>
  </div>
  <div class="col-12 card-main container">
    <div class="card-options">
      <div class="col-12 card-options-title">
        <p style="margin-top:80px;">Dodaj nowy produkt</p>
      </div>
      <div class="col-12 card-options-text">
        Każdy dodany produkt zostanie natychmiast dodany na oficjalnej stronie.
      </div>
      <div class="card-options-button col-12">
        <button (click)="goToSection('/add-product')" mat-raised-button style="background-color:#255190;color: white">
          Dodaj nowy produkt
        </button>
      </div>
    </div>
    <div class="card-options">
      <div class="col-12 card-options-title">
        <p style="margin-top:80px;">Zobacz wiadomości</p>
      </div>
      <div class="col-12 card-options-text">
        Analizuj i obserwuj na bieżąco nowe wiadomości.
      </div>
      <div class="card-options-button col-12">
        <button (click)="goToSection('/new-messages')" mat-raised-button style="background-color:#255190;color: white">
          Przejdź do wiadomości
        </button>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-options-text contain-footer">
      Codziennie sprawdzaj powiadomienia aby być na bieżąco
      w kontakcie z klientami i produktami.
    </div>
    <div class="card-options-text contain-footer-image">
      <img class="img-fluid img-footer" src="./assets/images/services-web-design.png"/>
    </div>
    <div class="options-footer-card">
      <button mat-raised-button style="background-color:#255190;color: white"
        class="database-button" (click)="goToSection('/evaluations')">
        Powiadomienia
      </button>
    </div>
  </div>
</div>
