/*================
  LIST STYLES

  AUTHOR: MARCIN PIERZYNOWSKI
  ================*/

.card-reset-password {
  float: left;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

.form-reset-password {
  width: 90%;
  height: 425px;
  -webkit-box-shadow: 0 20px 30px 0 #8e8e8e;
  -moz-box-shadow: 0 20px 30px 0 #8e8e8e;
  box-shadow: 0 20px 30px 0 #8e8e8e;
  border: 1px solid #e7f0f8;
  background-color: white;
}

.contain-link-register {
  padding: 15px 15px;
  height: 30px;
}

.back-login {
  color: #212529;
}

.contain-link-register a {
  text-decoration: underline;
}

.contain-title {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  line-height: 90px;
  height: 110px;
  font-size: 18px;
  color: #5599f9;
  padding-top: 30px;
}

.title-image {
  height: 80px;
  width: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.welcome-reset-password-text {
  float: left;
  width: 90%;
  color: #707070;
  margin: 0px 5% 0px 5%;
  font-weight: 700;
  margin-top: 20px;
}

.welcome-text {
  float: left;
  width: 100%;
  color: #707070;
  padding: 0 30px;
  margin-bottom: 0;
}

.contain-control-reset-password {
  float: left;
  width: 90%;
  text-align: center;
  margin: 10px 5% 0px 5%;
}

.control-reset-password {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.text-danger {
  font-size: 10px;
  text-align: left;
  width: 200px;
  margin-left: 10px;
}

.submit-reset-password {
  float: left;
  width: 100%;
}

.card-announcement {
  display: none;
}

@media only screen and (min-width: 540px) {
  .form-reset-password {
    width: 80%;
  }

  .control-reset-password {
    width: 400px;
  }
}

@media only screen and (min-width: 720px) {
  .form-reset-password {
    width: 65%;
    height: 500px;
  }

  .contain-title {
    height: 150px;
    font-size: 20px;
  }
  
  .welcome-reset-password-text, .welcome-text {
    font-size: 18px;
  }
  
  .welcome-reset-password-text {
    margin-top: 0px;
  }

  .text-danger {
    width: 300px;
    font-size: 12px;
  }

  .submit-reset-password {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 960px) {
  .card-reset-password {
    width: 50%;
  }

  .form-reset-password {
    width: 90%;
  }
  
  .card-announcement {
    position: fixed;
    width: 50%;
    min-height: 100vh;
    right: 0px;
    display: block;
  }
}

@media only screen and (min-width: 1140px) {
  .form-reset-password {
    width: 80%;
  }
}