<div class="card-reset-password">
  <div class="form-reset-password" [@flipInX]>
    <div class="contain-link-register">
      <a style="float:left; text-decoration: unset; color: black; opacity: 0.7;"
        onmouseover="this.style.cursor='pointer'" routerLink="/auth/sign-in">
        < Wróć
      </a>
      <span style="opacity: 0.7;"> Potrzebujesz konta? </span>
      <a routerLink="/auth/sign-up"> Zarejestruj </a>
    </div>
    <div class="contain-title">
      SHOP
      <img
        class="title-image"
        src="./assets/images/iconfinder_E-Commerce_1016078.png"
      />
      ADMIN
    </div>
    <p class="text-center welcome-reset-password-text">Resetowanie hasła</p>
    <p class="text-center welcome-text">
      Wpisz swój adres e-mail, a następnie wyślemy Ci link, do zresetowania
      hasła.
    </p>
    <div class="contain-control-reset-password">
      <!-- Form Reset Password -->
      <form (ngSubmit)="submitResetPassword()" [formGroup]="resetPassword" novalidate="true">
        
        <!-- Input Email -->
        <div class="control-reset-password">
          <label [ngClass]="(resetPassword.controls.email.errors?.required || resetPassword.controls.email.errors?.email) 
            && resetPassword.controls.email.touched ? 'field-resize field_danger b-field b-field_b1 page__field' : 'field-resize field a-field a-field_a1 page__field'">
            <input type="email" placeholder="Email"
              [ngClass]="(resetPassword.controls.email.errors?.required || resetPassword.controls.email.errors?.email) 
              && resetPassword.controls.email.touched ? 'field_danger__input b-field__input' : 'field__input a-field__input'"
              formControlName="email"/>
            <span [ngClass]="(resetPassword.controls.email.errors?.required || resetPassword.controls.email.errors?.email) 
              && resetPassword.controls.email.touched ? 'b-field__label-wrap' : 'a-field__label-wrap'">
              <span [ngClass]="(resetPassword.controls.email.errors?.required || resetPassword.controls.email.errors?.email) 
                && resetPassword.controls.email.touched ? 'b-field__label' : 'a-field__label'">
                Email
              </span>
            </span>
          </label>

          <!-- Alert Validate -->
          <div class="text-danger" *ngIf="resetPassword.controls.email.errors?.required && resetPassword.controls.email.touched"
            [@fadeInOutTranslate]>
            Pole nie może być puste!
          </div>
          <div class="text-danger" *ngIf="resetPassword.controls.email.errors?.email && resetPassword.controls.email.touched"
            [@fadeInOutTranslate]>
            Zły format emaila!
          </div>
        </div>

        <!--  Submit -->
        <div class="submit-reset-password">
          <button type="submit" class="button-submit" *ngIf="!submitCheck" [@fadeInOutTranslate]>
            Resetuj Hasło
          </button>

          <!-- Roller -->
          <div class="lds-roller" *ngIf="submitCheck" [@fadeInOutTranslate]>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div *ngIf="submitCheck" style="opacity: 0.7;" [@fadeInOutTranslate]>
            Trwa resetowanie hasła
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Card Picture Right Section -->
<div class="card-announcement"></div>
