<div class="card-reset-password">
  <div class="form-reset-password" [@flipInX]>

    <!-- Back To Sign In -->
    <div class="contain-link-register">
      <a style="float:left; text-decoration: unset; color: black; opacity: 0.7;"
        onmouseover="this.style.cursor='pointer'" routerLink="/auth/sign-in">
        <span class="back-login">
          < Wróć 
        </span> 
      </a> 
      <div style="float: right;">
        <span style="opacity: 0.7;"> Potrzebujesz konta? </span>
        <a routerLink="/auth/sign-up"> Zarejestruj </a>
      </div>
    </div>

  <!-- Logo Shop -->
  <div class="contain-title">
    SHOP
    <img class="title-image" src="./assets/images/home-welcome.png" />
    ADMIN
  </div>

  <!-- Title Section -->
  <p class="text-center welcome-reset-password-text">Resetowanie hasła</p>

  <!-- Text Custom -->
  <p class="text-center welcome-text">
    Wpisz swój adres e-mail, a następnie wyślemy Ci link, do zresetowania
    hasła.
  </p>

  <!-- Form Reset Password -->
  <div class="contain-control-reset-password">
    <!-- Form Reset Password -->
    <form (ngSubmit)="submitResetPassword()" [formGroup]="resetPassword" novalidate="true">

      <!-- Input Email -->
      <div class="control-reset-password">
        <label for="profile-surname" basic-form>Email:</label>
        <input id="profile-surname" basic-form placeholder="Email" formControlName="email" />

        <!-- Alert Validate -->
        <div class="text-danger" *ngIf="checkValidate('email', 'required')" [@fadeInOutTranslate]>
          Pole nie może być puste!
        </div>
        <div class="text-danger" *ngIf="checkValidate('email', 'email')" [@fadeInOutTranslate]>
          Zły format emaila!
        </div>
      </div>

      <!--  Submit -->
      <div class="submit-reset-password">
        <button info-form [style.width]="'150px'">
          Resetuj
        </button>
      </div>
    </form>
  </div>
</div>
</div>

<!-- Card Picture Right Section -->
<div class="card-announcement">
  <app-logo-background></app-logo-background>
</div>