/*================
  GLOBAL STYLES

  1. LOADER
  2. LEFT PANEL CONTAIN
  3. NAV TOP PANEL
  4. ROUTER CONTAIN
  5. USER OPTIONS ORDERS
  6. USER OPTIONS NOTIFICATIONS
  7. USER OPTIONS NAV PROFIL

  AUTHOR: MARCIN PIERZYNOWSKI
  ================*/

/*==================
  1. LOADER
==================*/
.loading-check {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #e0e2e6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 16;
  top: 0px;
  left: 0px;
}

.loading-contain {
  width: 165px;
  height: 140px;
  margin-right: 30px;
  margin-bottom: 100px;
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}

.picture-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.picture-loader img {
  margin-top: 45px;
  height: 300px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

/*==========================
  2. LEFT PANEL CONTAIN
==========================*/

.panel-blank {
  position: relative;
}

.panel-blank:hover .hide-scroolbar {
  opacity: 0;
  z-index: -1;
}

.hide-scroolbar {
  position: absolute;
  background-color: #222c3c;
  width: 5px;
  top: 0;
  z-index: 10;
  height: 10px;
  height: 100vh;
}

.panel-contain {
  background-color: #222c3c;
  width: 200px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  border-right: 1px solid #bcc0cc;
}

#style-panel-contain::-webkit-scrollbar-track {
  background-color: #222c3c;
}

#style-panel-contain::-webkit-scrollbar {
  width: 5px;
  background-color: #222c3c;
}

#style-panel-contain::-webkit-scrollbar-thumb {
  background-color: rgba(114, 115, 118);
  border: 2px solid rgba(114, 115, 118);
  border-radius: 2.5px;
}

.sidebar-main {
  float: left;
  position: relative;
  border-bottom: 1px solid #2a3547;
  color: #e6eaee;
  font-size: 16px;
  width: 100%;
  background-color: #1e2129;
  transition: all 0.25s linear 0s;
  padding-top: 15px;
  text-align: center;
}

.sidebar-main i {
  color: #00a8ff;
}

.sidebar-main > div:nth-child(1) {
  color: rgba(255,255,255,.7);
}

.sidebar-main > div:nth-child(1) span {
  font-size: 13px;
}

.panel-user-detail {
  margin-top: 25px;
}

.panel-user-detail h6 {
  font-weight: 500;
  font-family: Muli, Arial, Helvetica, sans-serif;
}

.panel-user-detail p {
  font-family: Muli, Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}

.user-picture {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222c3c;
  border-radius: 50%;
  padding: 8px;
}

.user-picture img {
  border-radius: 50%;
}

.user-picture-panel-hide {
  margin-left: -5px;
  margin-top: 10px;
}

.user-picture-panel-hide img {
  border-radius: 50%;
}

.sidebar-title {
  width: 100%;
  float: left;
  color: #7f8fa4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-left: 30px;
  height: 18px;
  transition: all 0.25s linear 0s;
}

.hide-sidebar {
  height: 1px;
  background-color: #7f8fa4;
  width: 60%;
  margin: 0 auto;
}

.menu-item {
  height: 40px;
  position: relative;
  float: left;
  width: 100%;
  color: #b7c0cd;
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: 0.5s linear;
  transition: 0.25s ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active-menu-item {
  background-color: #1d2531;
}

.active {
  background-color: #00a8ff;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 3px;
  left: 0px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  transition: all 0.25s linear 0s;
}

a.item {
  color: #b7c0cd;
  text-decoration: none;
}

.item:hover,
.item:hover i,
.sub-menu-item:hover {
  cursor: pointer;
  transition: 0.25s linear;
  color: white;
}

.item:hover {
  color: #fff;
}

.icon-panel {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
}

/*===================
  3. NAV TOP PANEL
===================*/

.nav-panel {
  position: fixed;
  top: 0;
  background-color: #fff;
  height: 80px;
  right: 0;
  transition: 0.25s linear;
  z-index: 15;
  display: flex;
  border-bottom: 1px solid #e6eaee;
  align-items: center;
}

.nav-menu {
  text-align: left;
  opacity: 0.5;
  transition: 0.5s linear;
  float: left;
}

.nav-menu:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.5s linear;
}

.menu-text {
  display: none;
  margin-left: 5px;
}

.nav-title {
  text-align: center;
  color: black;
  float: left;
  display: none;
}

.logo-text {
  display: none;
  color: #212529;
  font-weight: 100;
}

.title-image {
  width: 50px;
  height: 30px;
}

.nav-more {
  right: 0px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  position: absolute;
}

.nav-orders {
  position: relative;
  margin-top: 5px;
  display: none;
}

.nav-orders:hover {
  cursor: pointer;
}

.nav-orders i {
  color: #7f8fa4;
  font-size: 25px;
}

.nav-orders > span {
  font-size: 11px;
  position: absolute;
  left: 17px;
  background-color: #f59312;
  width: 23px;
  height: 23px;
  top: -8px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-notification {
  position: relative;
  margin-top: 5px;
  display: none;
}

.nav-notification:hover {
  cursor: pointer;
}

.nav-notification i {
  color: #7f8fa4;
  font-size: 25px;
}

.nav-notification > span {
  font-size: 11px;
  position: absolute;
  left: 17px;
  background-color: #f59312;
  width: 23px;
  height: 23px;
  top: -8px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-profil {
  float: right;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  margin-right: 20px;
  position: relative;
}

.nav-profil:hover {
  transition: 0.25s linear;
  cursor: pointer;
}

.nav-profil img {
  border-radius: 50%;
}

@media only screen and (min-width: 540px) {
  .nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav-more {
    justify-content: space-between;
    width: 200px;
  }

  .nav-orders {
    display: block;
  }

  .nav-notification {
    display: block;
  }
}

@media only screen and (min-width: 740px) {
  .logo-text,
  .menu-text {
    display: inline;
  }
}

@media only screen and (min-width: 1100px) {
  .nav-notification {
    display: block;
  }

  .nav-profil {
    display: block;
  }

  .nav-profil-icon {
    display: none;
  }
}

/*===========================
  4. ROUTER CONTAIN
==========================*/

.contain-layout {
  background-color: #eff3f6;
  position: fixed;
  top: 121px;
  right: 0;
  z-index: 2;
  height: calc(100vh - 121px);
  transition: 0.25s linear;
  overflow-y: auto;
}

.contain-layout::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.contain-layout::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.contain-layout::-webkit-scrollbar-thumb {
  background-color: #bcc0cc;
  border: 2px solid #bcc0cc;
}

/*=============================
  5. USER OPTIONS ORDERS
=============================*/

.nav-orders .more-options-user {
  position: absolute;
  transform: translate3d(0px, 45px, 0px);
  top: -12px;
  will-change: transform;
  right: 0;
  width: 300px;
  margin: 5px 0 0;
  transition: visibility .3s ease,opacity .3s ease;
  border: 1px solid #dfe3e9;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 1px 4px rgba(0,0,0,.08);
  z-index: 6;
  min-height: 85px;
  overflow-y: hidden;
  max-height: 261px;
}

.nav-orders .more-options-user:hover {
  overflow-y: overlay;
}

.nav-orders .more-options-user::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.nav-orders .more-options-user::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}

.nav-orders .more-options-user::-webkit-scrollbar-thumb {
  background-color: rgba(114, 115, 118);
  border: 2px solid rgba(114, 115, 118);
  border-radius: 2.5px;
}

.nav-orders .more-options-user a {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 14px;
  padding: 8px 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  transition: 0.25s ease-in-out;
  color: #354052;
}

.nav-orders .more-options-user a {
  border-bottom: 1px solid #dfe3e9;
}

.nav-orders .more-options-user a:hover {
  background-color: #f2f4f7;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.nav-orders .icon-notification {
  padding: 10px 5px;
}

.nav-orders .icon-notification img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-orders .text-notification {
  padding: 10px 0;
  text-align: left;
}

.nav-orders .text-notification h6 {
  color: #354052;
  font-weight: 500;
  font-size: 16px;
}

.nav-orders .text-notification p {
  margin-bottom: 0;
  color: #7f8fa4;
  font-size: 14px;
}

/*=============================
  6. USER OPTIONS NOTIFICATION
=============================*/

.nav-notification .more-options-user {
  position: absolute;
  transform: translate3d(0px, 45px, 0px);
  top: -12px;
  will-change: transform;
  right: 0;
  width: 300px;
  margin: 5px 0 0;
  transition: visibility .3s ease,opacity .3s ease;
  border: 1px solid #dfe3e9;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 1px 4px rgba(0,0,0,.08);
  z-index: 6;
  height: 261px;
}

.nav-notification .more-options-user a {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 14px;
  padding: 8px 15px;
  display: grid;
  grid-template-columns: 20% 80%;
  transition: 0.25s ease-in-out;
  color: #354052;
}

.nav-notification .more-options-user a:nth-child(-n + 2) {
  border-bottom: 1px solid #dfe3e9;
}

.nav-notification .more-options-user a:hover {
  background-color: #f2f4f7;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}

.nav-notification .icon-notification {
  padding: 10px 5px;
}

.nav-notification .icon-notification span {
  width: 40px;
  height: 40px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.nav-notification .icon-notification span i {
  color: #fff;
}

.nav-notification .text-notification {
  padding: 10px 0;
}

.nav-notification .text-notification h6 {
  color: #354052;
  font-weight: 500;
  font-size: 16px;
}

.nav-notification .text-notification p {
  margin-bottom: 0;
  color: #7f8fa4;
  font-size: 14px;
}

/*==========================
  7. USER OPTIONS NAV PROFIL
==========================*/

.nav-profil .more-options-user {
  position: absolute;
  transform: translate3d(0px, 45px, 0px);
  top: 0px;
  will-change: transform;
  right: 0;
  width: 9.375rem;
  margin: 5px 0 0;
  transition: visibility .3s ease,opacity .3s ease;
  border: 1px solid #dfe3e9;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 1px 4px rgba(0,0,0,.08);
  z-index: 6;
  height: 111px;
}

.nav-profil .more-options-user a {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 14px;
  padding: 8px 15px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.25s ease-in-out;
  color: #354052;
}

.nav-profil .more-options-user a:nth-child(-n + 2) {
  border-bottom: 1px solid #dfe3e9;
}

.nav-profil .more-options-user a:hover {
  background-color: #f2f4f7;
  color: #2ea1f8;
  text-decoration: none;
  transition: 0.25s ease-in-out;
}