
<!-- Loader -->
<div class="loading-check" [@zoomOut] *ngIf="!userAuth">
  <div class="loading-contain" style="text-align:center;">
    <div class="container">
      <svg xmlns="http://www.w3.org/2000/svg" width="135" height="140" viewBox="0 0 135 140" fill="#222c3c">
        <rect fill="#3aa9e2" y="9.8795" width="10" height="120.241" rx="6">
          <animate attributeName="height" begin="0.5s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"/>
          <animate attributeName="y" begin="0.5s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"/>
        </rect>
        <rect fill="#334557" x="30" y="22.4398" width="10" height="95.1205" rx="6">
          <animate attributeName="height" begin="0.25s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"/>
          <animate attributeName="y" begin="0.25s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"/>
        </rect>
        <rect fill="#3aa9e2" x="60" width="10" height="70.1205" rx="6" y="34.9398">
          <animate attributeName="height" begin="0s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"/>
          <animate attributeName="y" begin="0s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"/>
        </rect>
        <rect fill="#334557" x="90" y="22.4398" width="10" height="95.1205" rx="6">
          <animate attributeName="height" begin="0.25s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"/>
          <animate attributeName="y" begin="0.25s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"/>
        </rect>
        <rect fill="#3aa9e2" x="120" y="9.8795" width="10" height="120.241" rx="6">
          <animate attributeName="height" begin="0.5s" dur="1s" values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear" repeatCount="indefinite"/>
          <animate attributeName="y" begin="0.5s" dur="1s" values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear" repeatCount="indefinite"/>
        </rect>
      </svg>
      <div class="picture-loader">
        <img src="/assets/images/home-welcome.png">
      </div>
     
    </div>
  </div>
</div>

<!-- Content -->
<ng-container *ngIf="userAuth">

  <!-- Panel Blank -->
  <div class="panel-blank"> 
    
    <!-- Blank Scrollbar -->
    <div class="hide-scroolbar" [style.left]="vissibleLeftPanel ? '194px' : '58px'"
      [style.transition]="'0.25s linear'">
    </div>

    <!-- Panel Contain -->
    <div id="style-panel-contain" class="panel-contain"
      [ngStyle]="{width: vissibleLeftPanel ? '200px' : '64px',transition: vissibleLeftPanel ? 'unset' : '0.25s linear'}">
      
      <!-- Sidebar Main -->
      <div class="sidebar-main" [style.paddingLeft]="vissibleLeftPanel ? '0px' : '10px'"
        [style.height]="vissibleLeftPanel ? '180px' : '100px'">
        <div [style.margin-left]="'5px'">
          <img height="20" width="40" src="./assets/images/iconfinder_E-Commerce_1016078.png" [style.margin-right]="'10px'"/>
          <span *ngIf="vissibleLeftPanel">Admin Panel</span>
        </div>

        <!-- Detail User: Email, Name, Surname -->
        <div *ngIf="vissibleLeftPanel" class="panel-user-detail">
          <h6>{{ user.detail ? user.detail.name + ' ' + user.detail.surname : 'Custom User' }}</h6>
          <p>{{ user.email }}</p>
        </div>

        <!-- Circle Picture When Vissible Panel -->
        <div *ngIf="vissibleLeftPanel" class="user-picture">
          <img [src]="user.detail.imageUrl ? user.detail.imageUrl : '../../assets/images/user-empty.png'" 
            height=70 width=70 />
        </div>

        <!-- Picture When Not Vissble Panel -->
        <div *ngIf="!vissibleLeftPanel" class="user-picture-panel-hide">
          <img [src]="user.detail.imageUrl ? user.detail.imageUrl : '../../assets/images/user-empty.png'" 
            height=40 width=40 />
        </div>
      </div>

      <!-- Dashboards -->
      <div class="sidebar-title" [style.paddingLeft]="vissibleLeftPanel ? '30px' : '0px'"
        [style.margin-top]="'60px'">
        {{ vissibleLeftPanel ? 'DashBoards' : ''}}
        <div class="hide-sidebar" *ngIf="!vissibleLeftPanel"></div>
      </div>

      <!-- Przegląd -->
      <div class="menu-item" [class.active-menu-item]="url === '/dashboard'" 
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'" routerLink="/dashboard">
        <div [class.active]="url === '/dashboard'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-home icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Przegląd </span>
        </div>
      </div>

      <!-- Profil -->
      <div class="menu-item" [class.active-menu-item]="url === '/my-profile'" routerLink="/my-profile"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/my-profile'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-user icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Profil</span>
        </div>
      </div>

      <!-- Ustawienia -->
      <div class="menu-item" [class.active-menu-item]="url === '/my-settings'" routerLink="/my-settings"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/my-settings'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-cogs icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Ustawienia</span>
        </div>
      </div>

      <!-- Użytkownicy -->
      <div class="sidebar-title" [style.paddingLeft]="vissibleLeftPanel ? '30px' : '0px'">
        {{ vissibleLeftPanel ? 'Użytkownicy' : ''}}
        <div class="hide-sidebar" *ngIf="!vissibleLeftPanel"></div>
      </div>

      <!-- Administratorzy -->
      <div class="menu-item" [class.active-menu-item]="url === '/list-users'" routerLink="/list-users"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/list-users'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
            <i class="fas fa-users-cog icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Administratorzy</span>
        </div>
      </div>

      <!-- Klienci -->
      <div class="menu-item" [class.active-menu-item]="url === '/list-customers'" routerLink="/my-customers"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/my-customers'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-users icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Klienci</span>
        </div>
      </div>

      <!-- Produkty -->
      <div class="sidebar-title" [style.paddingLeft]="vissibleLeftPanel ? '30px' : '0px'">
        {{ vissibleLeftPanel ? 'Produkty' : ''}}
        <div class="hide-sidebar" *ngIf="!vissibleLeftPanel"></div>
      </div>

      <!-- Nowy Produkt -->
      <div class="menu-item" [class.active-menu-item]="url === '/add-product'" routerLink="/add-product"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/add-product'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-cart-plus icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Dodaj Produkt</span>
        </div>
      </div>

      <!-- Lista Produktów -->
      <div class="menu-item" [class.active-menu-item]="url === '/list-products'" routerLink="/list-products"
      [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/list-products'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-shopping-bag icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Lista Produktów</span>
        </div>
      </div>

      <!-- Wiadomości -->
      <div class="sidebar-title" [style.paddingLeft]="vissibleLeftPanel ? '30px' : '0px'">
        {{ vissibleLeftPanel ? 'Wiadomości' : ''}}
        <div class="hide-sidebar" *ngIf="!vissibleLeftPanel"></div>
      </div>

      <!-- Nowe -->
      <div class="menu-item" [class.active-menu-item]="url === '/new-messages'" routerLink="/new-messages"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/new-messages'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-envelope icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Nowe</span>
        </div>
      </div>

      <!-- Przeczytane -->
      <div class="menu-item" [class.active-menu-item]="url === '/received-messages'" routerLink="/received-messages"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/received-messages'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-envelope-open-text icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Przeczytane</span>
        </div>
      </div>

      <!-- Powiadomienia -->
      <div class="sidebar-title" [style.paddingLeft]="vissibleLeftPanel ? '30px' : '0px'">
        {{ vissibleLeftPanel ? 'Powiadomienia' : ''}}
        <div class="hide-sidebar" *ngIf="!vissibleLeftPanel"></div>
      </div>

      <!-- Oceny -->
      <div class="menu-item" [class.active-menu-item]="url === '/evaluations'" routerLink="/evaluations"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/evaluations'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-star-half-alt icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Oceny</span>
        </div>
      </div>

      <!-- Komentarze -->  
      <div class="menu-item" [class.active-menu-item]="url === '/comments'" routerLink="/comments"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/comments'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-comments icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Komentarze</span>
        </div>
      </div>

      <!-- Strona -->
      <div class="sidebar-title" [style.paddingLeft]="vissibleLeftPanel ? '30px' : '0px'">
        {{ vissibleLeftPanel ? 'Strona' : ''}}
        <div class="hide-sidebar" *ngIf="!vissibleLeftPanel"></div>
      </div>

      <!-- Slajder -->
      <div class="menu-item" [class.active-menu-item]="url === '/slider'" routerLink="/slider"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/slider'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fab fa-slideshare icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Slajder</span>
        </div>
      </div>

      <!-- Promocje -->
      <div class="menu-item" [class.active-menu-item]="url === '/promotions'" routerLink="/promotions"
        [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div [class.active]="url === '/promotions'" class="section-item"></div>
        <div class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'">
          <i class="fas fa-percent icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Promocje</span>
        </div>
      </div>

      <!-- Baza Danych -->
      <div class="menu-item" [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div class="section-item"></div>
        <a class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'"
          href="https://console.firebase.google.com/project/shop-stoma/database/shop-stoma/data"
          target="_blank">
          <i class="fas fa-database icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Database</span>
        </a>
      </div>

      <!-- Storage -->
      <div class="menu-item" [style.justify-content]="vissibleLeftPanel ? 'initial' : 'center'">
        <div class="section-item"></div>
        <a class="item" [style.paddingLeft]="vissibleLeftPanel ? '15px' : '0px'"
          href="https://console.firebase.google.com/project/shop-stoma/storage/shop-stoma.appspot.com/files"
          target="_blank">
          <i class="fas fa-hdd icon-panel"></i>
          <span *ngIf="vissibleLeftPanel">Storage</span>
        </a>
      </div>
      
    </div>
  </div>

  <!-- Nav Panel -->
  <div class="nav-panel"
    [ngStyle]="{width: vissibleLeftPanel ? 'calc(100% - 200px)' : 'calc(100% - 64px)'}">
    
    <!-- Hamburger Menu -->
    <div class="nav-menu col-2" (click)="vissibleLeftPanel = !vissibleLeftPanel">
      <i class="fas fa-bars"></i> <span class="menu-text">Menu</span>
    </div>

    <!-- Logo Shop -->
    <div class="nav-title col-8">
      <span class="logo-text"> SHOP </span>
      <img class="title-image" src="./assets/images/iconfinder_E-Commerce_1016078.png"/>
      <span class="logo-text"> ADMIN </span>
    </div>

    <!-- Nav More Information -->
    <div class="nav-more">
      
      <!-- Notification Orders -->
      <div class="nav-orders"  (click)="moreOptions(0);$event.stopImmediatePropagation()">
        <i [style.margin-right]="'10px'" class="fas fa-paper-plane"></i>
        <span [style.left]="'25px'">121</span>
        <div (click)="$event.stopPropagation()" class="more-options-user" *ngIf="vissibleOptions[0] && orders"
          [@fadeInOutTranslate]>
          <a *ngFor="let order of orders" routerLink="/orders/idzamowienia" (click)="vissibleOptions[1] = false; $event.stopPropagation()">
            <div class="icon-notification">
              <img src="../../assets/images/custom-customer.jpg"/>
            </div>
            <div class="text-notification">
              <h6>Marcin pierzynowski</h6>
              <p>Złożył zamówienie 12-02-2018</p> 
            </div>  
          </a>
          <a *ngIf="orders && orders.length === 0" routerLink="/orders/idzamowienia" (click)="vissibleOptions[1] = false; $event.stopPropagation()">
            <div class="icon-notification">
              <img src="../../assets/images/user-empty.png"/>
            </div>
            <div class="text-notification">
              <h6>Brak nowych zamówień</h6>
              <p>Oczekuj na nowe zamówienia</p> 
            </div>  
          </a>
      </div>
      </div>

      <!-- Notification More -->
      <div class="nav-notification"  (click)="moreOptions(1);$event.stopImmediatePropagation()">
        <i class="far fa-bell"></i>
        <span>{{ sumNotification }}</span>
        <div (click)="$event.stopPropagation()" class="more-options-user" 
          *ngIf="vissibleOptions[1] && notifications && notifications.length > 0" [@fadeInOutTranslate]>
          <a routerLink="/new-messages" (click)="vissibleOptions[1] = false; $event.stopPropagation()">
            <div class="icon-notification">
              <span [style.background-color]="'#45b70d'">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <div class="text-notification">
              <h6>Masz ({{ notifications[notifications.length - 1].messages }}) nowych wiadomości</h6>
              <p>Odczytaj nowe wiadomości</p> 
            </div>  
          </a>
          <a routerLink="/evaluations" (click)="vissibleOptions[1] = false; $event.stopPropagation()">
            <div class="icon-notification">
              <span [style.background-color]="'#f7d42b'">
                <i class="far fa-smile"></i>
              </span>
            </div>
            <div class="text-notification">
              <h6>Masz ({{ notifications[notifications.length - 1].evaluations }}) nowych ocen</h6>
              <p>Spójrz na nowe oceny</p> 
            </div>  
          </a>
          <a routerLink="/comments" (click)="vissibleOptions[1] = false; $event.stopPropagation()">
            <div class="icon-notification">
              <span [style.background-color]="'#a388e3'">
                <i class="far fa-comments"></i>
              </span>
            </div>
            <div class="text-notification">
              <h6>Masz ({{ notifications[notifications.length - 1].comments }}) nowych komentarzy</h6>
              <p>Zobacz nowe komentarze</p> 
            </div>
          </a>
        </div>
      </div>

      <!-- Profil -->  
      <div class="nav-profil" (click)="moreOptions(2);$event.stopImmediatePropagation()">
        <img [src]="user.detail.imageUrl ? user.detail.imageUrl : '../../assets/images/user-empty.png'" 
          height=40 width=40 />
          <i [style.margin-left]="'10px'" [style.color]="'#7f8fa4'" class="fas fa-chevron-down"></i>
          <div (click)="$event.stopPropagation()" class="more-options-user" *ngIf="vissibleOptions[2]"
            [@fadeInOutTranslate]>
            <a routerLink="/my-profile" (click)="vissibleOptions[2] = false; $event.stopPropagation()">Edytuj Profil</a>
            <a routerLink="/my-settings" (click)="vissibleOptions[2] = false; $event.stopPropagation()">Ustawienia Konta</a>
            <a (click)="logout()">Wyloguj</a>
          </div>
      </div>
    </div>
  </div>
  <app-current-page [ngStyle]="{width: vissibleLeftPanel ? 'calc(100% - 200px)' : 'calc(100% - 64px)'}"></app-current-page>

  <!-- Router Contain Section -->
  <div class="contain-layout" [ngStyle]="{width: vissibleLeftPanel ? 'calc(100% - 200px)' : 'calc(100% - 64px)'}">
    <router-outlet></router-outlet>
  </div>
</ng-container>
