<div class="card" [@fadeInOutTranslate]>
  <div class="title-section">Nowe wiadomości</div>
  <div class="settings-card">

    <!-- Filter Message -->
    <div [@fadeInOutTranslate] *ngIf="messages && messages.length > 0" class="filter-contain" style="margin-bottom: 50px;">
      <p>Filtruj:</p>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6" style="margin-bottom: 10px;">
              Email:&nbsp;&nbsp;&nbsp;&nbsp;
              <input [(ngModel)]="email" (input)="filterData()" placeholder="Email"/>
              <span class="logo-form"><i class="fas fa-search"></i></span>
            </div>
            <div class="col-12 col-md-6" style="margin-bottom: 10px;">
              Data:
              <input [(ngModel)]="date" (input)="filterData()" placeholder="Data: dd-mm-yyyy"/>
              <span class="logo-form"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div [@fadeInOutTranslate] class="list-messages-section">
      <div class="list-products">
        
        <!-- Empty Products -->
        <div class="img-error" *ngIf="messages && messages.length === 0">
          <img class="img-fluid" height="350" width="262" src="./assets/images/error.svg"/>
          <p style="float: left;width: 100%;font-weight: 500;font-size: 18px;margin-bottom: 20px;">
            Brak nowych wiadomości!
          </p>
        </div>

        <!-- List New Messages -->
        <table *ngIf="messages && messages.length > 0" class="table">
          
          <!-- List Header -->
          <thead style="background-color: #255190;color: #fff;">
            <tr>
              <th scope="col">Email</th>
              <th scope="col">Data</th>
              <th scope="col">Opcje</th>
            </tr>
          </thead>

          <!-- List Body -->
          <tbody>
            <tr *ngFor="let message of cpMessages; let i = index">
              <td>{{ message.email }}</td>
              <td>{{ message.date }}</td>
              <td>
                <select matNativeControl class="mat-select" placeholder="Opcje">
                  <option>
                      <a style="text-decoration: unset; color: unset" [routerLink]="['../', 'edit-message', message.id]">
                          Szczegóły
                      </a>
                  </option>
                  <option (click)="deleteMessage(i)">Usuń</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
