<div class="card" [@fadeInOutTranslate]>
  <div class="title-section">Edycja Produktu</div>
  <div class="settings-card">
    <div class="edit-product-section" [@fadeInOutTranslate]>
      <div *ngIf="product">
        <form (ngSubmit)="sbumitEditProduct()" [formGroup]="productForm" novalidate="true">
          
          <!-- Title -->
          <div class="title-second-section">
            <p>Edycja produktu: {{ product.ref }}</p>
          </div>
          <div class="underline"></div>

          <!-- Form Edit Product -->
          <div class="form-contain">

            <!-- Input Title -->
            <mat-form-field style="text-align:center;position: relative;" class="second-form-input">
              <div class="form-help">
                <i class="fas fa-info-circle tooltip-info" matTooltip="Tytuł produktu używany jako tag wyszukiwania w wyszukiwarce produktów"></i>
              </div>
              <input style="text-align:center;" matInput placeholder="Tytuł" type="text" id="title-product" formControlName="title"/>
            </mat-form-field>
          </div>
          <div class="form-contain">

            <!-- Input Price -->
            <mat-form-field style="text-align:center;position: relative;" class="second-form-input">
              <input style="text-align:center;" min=0 matInput placeholder="Cena" type="number" formControlName="price"/>
            </mat-form-field>
          </div>
          <div class="form-contain">

            <!-- Input Promotion  -->
            <mat-form-field style="text-align:center;position: relative;" class="second-form-input">
              <div class="form-help">
                <i class="fas fa-info-circle tooltip-info"
                  matTooltip="Podaj wartość procentową obniżenia, względem głównej ceny. *symbol procenta nie jest potrzebny i nie jest dozwolony!">
                </i>
              </div>
              <input style="text-align:center;" matInput placeholder="Promocja" type="number" formControlName="promotion"/>
            </mat-form-field>
          </div>
          <div class="form-contain">

            <!-- Input Description -->
            <mat-form-field style="text-align:center;position: relative;" class="example-full-width" class="second-form-input">
              <div class="form-help">
                <i class="fas fa-info-circle tooltip-info" matTooltip="Główny opis produktu widoczny dla klienta"></i>
              </div>
              <textarea matInput style="text-align:center;" matInput placeholder="Opis produktu" formControlName="desc"></textarea>
            </mat-form-field>
          </div>

           <!-- Submit -->
          <div class="submit-section">
            <button mat-button class="exit-edit" type="button" (click)="back()">
              Anuluj
            </button>
            <button mat-button class="save-submit" type="submit">
              Zapisz
            </button>
          </div>
        </form>
      </div>     
    </div>
  </div> 
</div>
  