div {
    position: fixed;
    bottom: 20px;
    width: 250px;
    margin: 0 auto;
    left: 50%;
    background-color: #222c3c;
    z-index: 10;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
}