<div class="card" [@fadeInOutTranslate]>
  <div class="title-section">Slajder</div>
  <div class="settings-card">
    <div [@fadeInOutTranslate] class="list-messages-section">
      <div style="padding: 50px;" [@fadeInOutTranslate]>
        <div class="area-picture">
          <div class="picture-drop">
            <img class="image-drop" src="./assets/images/cloud-drop.png" />
          </div>

          <!-- Step:1 Drag File Drop Area -->
          <file-drop (onFileDrop)="dropped($event)">
            <div class="drop-title">
              <p class="text-drop">Przeciągnij i upuść plik.</p>
              <p class="text-drop">lub</p>
              <input #dropInput type="file" style="display:none;" multiple
                (change)="uploadImage($event.target)" accept="image/x-png,image/gif,image/jpeg"/>
              <button mat-raised-button style="background-color:#f29700; width: 120px;" (click)="getFile(dropInput)">
                Wybierz plik
              </button>
            </div>
          </file-drop>

        </div>

      </div>
    </div>

    <!-- Slider Pictures -->
    <div *ngFor="let slider of sliders; let i = index" class="picture-section" 
      (mouseenter)="vissibleMoreOptions = i" (mouseleave)="vissibleMoreOptions = -1">
      <div [@fadeInOutTranslateInOpacity] [@fadeOutTranslateInOpacity]
        *ngIf="vissibleMoreOptions === i" class="hide-options">
      </div>
      <div [@fadeInOutTranslate] [@fadeOutTranslate]
        *ngIf="vissibleMoreOptions === i" class="delete-container">
        <i (click)="deleteImage(slider.name, i)" class="fas fa-trash-alt"></i>
      </div>
      <img class="img-fluid" src="{{ slider.imageUrl }}" />
    </div>
  </div>
</div>
